<form class="flex-container add-product-form" style="margin-top: auto"
  action="{{ url('sonata_basket_add_product') }}"
  method="POST"
  >
    {% set link = url('sonata_product_view', {'productId': product.id, 'slug': product.slug}) %}
  <input type="hidden" name="add_basket[productId]" value="{{product.id}}">
  <input type="hidden"  value="{{product.price}}" name="product_unit_price">
  <div class="flex-container" >
    <div >
      <div>
        <h5>BOTTLE</h5>
        <h5 class="price">{{ sonata_product_price(product, currency, true)| number_format_currency('GBP') }}</h5>
      </div>
      <div class="qty-input-control">
        {# <button class="round-outlined-button qty-input-control-minus" ng-click="decrementQty()">-</button> #}
        <input class="count shopping-spinner" type="number"  name="add_basket[quantity]" id="add_basket_quantity" min="1" value="1" />
        
       {#  <button class="round-outlined-button qty-input-control-plus" ng-click="incrementQty()">+</button> #}
      </div>
      <div class="margin-10"></div>
       {#href="{{ url('sonata_product_view', {'slug': product.slug,'productId': product.id }) }}"#}

      <a class="btn-primary btn-small" href="{{ link}}">DETAILS</a>
    </div>
    <div class="margin-10"></div>
    
    <div>
      <div>
        <h5>CASE</h5>
        <h5 class="price">19.54</h5>
      </div>
      <div class="qty-input-control">
       
        <input class="count shopping-spinner" type="number"
               {#name="add_basket[case_quantity]"#}
               id="add_basket_quantity" min="1" value="1" />
        
      </div>
      <div class="margin-10"></div>
      <input type="submit" class="btn-secondary btn-small" value="ADD TO CART"/>
    </div>
  </div> <!--flex-container -->
</form>