 <form class="flex-container add-product-form no-padding"
  action="{{ url('sonata_basket_add_product') }}" 
  method="POST" 
  novalidate >

                <input type="hidden" name="add_basket[productId]" value="{{product.id}}">
                <input type="hidden"  value="{{product.price}}" name="product_unit_price">

                <div class="crates">
                    <div class="small">ADD TO MY CRATE</div>
                    <h4 class="small add-crate-btn">Add crate +</h4>
                    
                </div>

                <div class="vertical-flex-container">
                   <div class="flex-container">
                       <div class="flex1" >
                           <div class="qty-input-control">
                               {# <button class="round-outlined-button qty-input-control-minus" ng-click="decrementQty()">-</button> #}
                               <input class="count shopping-spinner" type="number"  name="add_basket[quantity]" id="add_basket_quantity" min="1" value="1" />
                               
                               {# <button class="round-outlined-button qty-input-control-plus" ng-click="incrementQty()">+</button> #}
                           </div>
                       </div>
                       <div class="flex1">
                           <div class="fluid-container">
                               {#<h6 class="small">10% CASE DISCOUNT:</h6>#}
                               <h6 class="small">BOTTLE: <span class="display-secondary lead"> {{ sonata_product_price(product, currency, true)|number_format_currency('GBP') }}</span></h6>
                               <h6 class="small display-secondary">EVAT</h6>
                           </div>

                       </div>
                   </div> <!--row -->
                   <div class="row">
                        <div class="col-md-12">
                          
                            


                            <button class="btn-outline-secondary total-btn " style="width: 100%;">
                               <span class="small">TOTAL</span> <span class="total-label">{{ sonata_product_price(product, currency, true)|number_format_currency('GBP') }}</span>

                            </button>
                          <input class="btn-secondary btn-medium" type="submit"  value="ADD TO CART" />
                          {#<div class="alert alert-success">PRODUCT ADDED</div>#}

                        </div>
                    </div>
                </div>
</form>

<script type="text/javascript">

 
  $(document).ready(function(){


    $('.add-product-form').crave();

  });
</script>

 