
    {% for product in products %}
    <div class="flex-container" style="width:650 px;align-items:center ">
        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
            <img src="{{ asset('images/wine-medium.png') }}" class="img-big" style="margin-left: -50px" >
        </div>
        <div class="data col-md-6 col-lg-6 col-sm-6 col-xs-6 vertical-flex-container">
            <div class="title">New arrivals</div>
            <div class="dots-horz"></div>
            <div class="margin-10"></div>
            <div class="flex-container" style="align-items:baseline">
                <div class="color-dot"></div>
                <h5>full bodieD rich reds</h5>
            </div>
            <div class="margin-10"></div>
            <img src="" alt="" class="country-flag">
            <div class="display-secondary display3">2011</div>
            <div class="display3">JURTSCHITCH</div>
            <div class="display-secondary display3">PRODUCT NAME</div>
            <p class="display4" >
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde earum aliquam provident dolorem pariatur omnis ea laborum magnam eaque alias perspiciatis aperiam quas soluta id dignissimos voluptatum ullam, praesentium distinctio.
            </p>
            <div class="quote">GRAPES</div>
            <div class="display4">Semillon, Cavernet</div>
            <div class="margin-20"></div>
            <p class="display4">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam quisquam omnis, libero eius necessitatibus, ipsam corporis nam adipisci maxime repellat officiis, fuga doloribus nihil. Ipsum unde vel quam, autem tempora!
            </p>
            <div class="dots-horz"></div>
            <div class="margin-20"></div>
            {{include('components/add_product_form.html.twig')}}
        </div>
        
    </div>
    {% endfor %}





