{% if basket.hasBasketElements %}
<div class="top">


    <div class="cart-items-list">
        <table>
            <tr>
                <th>QTY</th>
                <th>ITEM</th>
                <th>AMOUNT</th>
            </tr>
            {% for basketElement in basket.BasketElements %}
            <tr>
                {# call each product controller to render its own view #}
                
                    {% render(controller('SonataProductBundle:Product:renderFormBasketElement', {
                        'formView':       form.basketElements.children[basketElement.position],
                        'basketElement':  basketElement,
                        'basket':         basket
                    })) %}
                
            </tr>
        {% endfor %}


        </table>

    </div>
    <div class="crates-section">
        <div class="header">
            <span>MY CRATES</span><span >1 OF 2</span>
        </div>
        <div class="crates-carousel-container">
            <img src="{{ asset('images/cart/crates_left.png') }}" alt="">
            <div class="crates-carousel">

                <div class="crate"></div>

            </div>
            <img src="{{ asset('images/cart/crates_right.png') }}" alt="">
        </div>


    </div>
    <div class="totals-section">
        <span class="totals-section--label">TOTAL</span>
        <span class="totals-section--total">{{ basket.getTotal(true)|number_format_currency(basket.currency.label, {}, {}, basket.locale) }}</span>

    </div>

</div>
<div class="voucher-section">
    <div class="voucher-section--headline">DETERMINE SHIPPING AND SALES TAX</div>
    <input type="text" name="voucher" class="voucher-field" placeholder="ENTER VOUCHER">
    <div class="voucher-section--discount-info">You’re saving £18!</div>
</div>
<a id="checkout-btn" class="checkout-btn">
    CHECKOUT
</a>

{% else %}
<div class="top">EMPTY</div>
{% endif %}

<script type="text/javascript">
    $(document).ready(function () {

    });
</script>

