<div id="checkout-sidebar" ng-controller="CheckoutSidebarCtrl">

    <div class="margin-20"></div>
    <div class="order-summary">
        {# this is collasable   #}
        <header class="flex-container align-middle">
            <div class="title">ORDER SUMARY</div>
            <div class="expander expander-expanded"></div>
        </header>

        <div class="dots-horz"></div>
        <div class="expander-content basket-content">
            {% render(controller('ApplicationSonataBasketBundle:Basket:showFinalBasket')) %}
            <hr>
        </div>
    </div>

    <div class="checkout-stages-container flex-container">

        {{ include('components/checkout/address-stage-panel.html.twig') }}
       {{ include('components/checkout/payment-stage-panel.html.twig') }}
        <div class="margin-20"></div>

    </div>

</div>




<script type="text/javascript" src="https://js.stripe.com/v2/"></script>

<script type="text/javascript">

    $(document).ready(function () {


        $('#checkout-btn').click(function () {
            console.log('got it');
            $("#checkout-sidebar").show()
            .removeClass('animated slideOutRight')
            .addClass('animated slideInRight');
        });

//
        $(document).mouseup(function (e) {
            var $container = $("#checkout-sidebar");
            if (!$container.is(e.target) // if the target of the click isn't the container...
                    && $container.has(e.target).length === 0) // ... nor a descendant of the container
            {
                if(!$container.is(':hidden')) {
                    $container.removeClass('animated slideInRight')
                    .addClass('animated slideOutRight');
                }
            }
        });

        var expander = $('.expander');
        var content = $('.expander').parent().parent().find('.expander-content');
        var contentIsHidden = expander.hasClass('expander-collapsed');
        expander.click(function () {
            if (contentIsHidden) {
                content.slideDown();
                contentIsHidden = false;
                expander.removeClass('expander-collapsed');
                expander.addClass('expander-expanded');
            } else {
                content.slideUp();
                contentIsHidden = true;
                expander.removeClass('expander-expanded');
                expander.addClass('expander-collapsed');
            }
        });

    });
</script>

