<div class="contact-form">

    {{ form_start(form,{'attr':{'novalidate':'novalidate',"id":"contact-form"}}) }}
    {{ form_errors(form) }}
    {{ form_widget(form.enquiry) }}
    {% if wedding %}
        {{ form_widget(form.date) }}
    {% endif %}
    <div class="margin-10"></div>
    {{ form_widget(form.shop) }}

    {{ form_widget(form.email,{'attr': {'placeholder': 'EMAIL'}}) }}
    {{ form_widget(form.message,{'attr': {'placeholder': 'MESSAGE','min-length':20,'max-length':1000}}) }}

    {{ form_widget(form.submit, {'attr':{'class':'btn btn-outline-primary','style':"max-width:100px; margin-left:auto"}}) }}


    {{ form_end(form) }}
</div>


<script type="application/javascript" src="{{ asset('js/jquery.form.min.js') }}"></script>
<script type="text/javascript">
    $(document).ready(function () {
       $('form').each(function () {
           var $form = $(this);
           $form.validate();
       });

        var options = {
            beforeSubmit:  showRequest,  // pre-submit callback
            success:       showResponse,  // post-submit callback
            // other available options:
            //url:       url         // override for form's 'action' attribute
            //type:      type        // 'get' or 'post', override for form's 'method' attribute
            //dataType:  null        // 'xml', 'script', or 'json' (expected server response type)
            //clearForm: true        // clear all form fields after successful submit
            resetForm: true        // reset the form after successful submit

            // $.ajax options can be used here too, for example:
            //timeout:   3000
        };

        // bind form using 'ajaxForm'
        $('#contact-form').ajaxForm(options);




    });
    function showRequest(formData, jqForm, options) {
        // formData is an array; here we use $.param to convert it to a string to display it
        // but the form plugin does this for you automatically when it submits the data
        var queryString = $.param(formData);

        // jqForm is a jQuery object encapsulating the form element.  To access the
        // DOM element for the form do this:
        // var formElement = jqForm[0];



        $('#contact-form button').text("Sending ...");
        $('#contact-form button').prop('disabled',true);
        // here we could return false to prevent the form from being submitted;
        // returning anything other than false will allow the form submit to continue
        return true;
    }
    // post-submit callback
    function showResponse(responseText, statusText, xhr, $form)  {
        alert(responseText);
        // for normal html responses, the first argument to the success callback
        // is the XMLHttpRequest object's responseText property

        // if the ajaxForm method was passed an Options Object with the dataType
        // property set to 'xml' then the first argument to the success callback
        // is the XMLHttpRequest object's responseXML property

        // if the ajaxForm method was passed an Options Object with the dataType
        // property set to 'json' then the first argument to the success callback
        // is the json data object returned by the server

        $('#contact-form button').prop('disabled',false);
        $('#contact-form button').text("SUBMIT");
    }



</script>