<ul class="vertical-flex-container no-padding">
    {% for basketElement in basket.basketElements %}
        <li class="flex-container align-middle">
            <div><b>{{ basketElement.quantity }}</b>  </div>
            <div class="margin-10"></div>
            <div class="flex1"> {{ basketElement.product.year }} {{basketElement.product.name}} - Rosé</div>
            <div> <b> {{basketElement.getTotal(true)|number_format_currency(basket.currency.label, {}, {}, basket.locale)}} </b></div>
        </li>
        
        {% if not loop.last %}
            <div class="dots-horz-small"></div>
        {% endif %}
        
    {% endfor %}
</ul>
<div class="margin-20"></div>
<div class="flex-container">
    <div  id="basket-total"><span>TOTAL</span>  <b>{{basket.total |number_format_currency(basket.currency.label, {}, {}, basket.locale)}}</b> </div>
</div