



<footer class="page-footer" ng-controller="FooterCtrl">
    <div class="footer-top fluid-container">


        <div class="logo col-md-1">
            <img src="{{ asset('images/logo-with-title.png') }}" alt="">
        </div>
        <div class="section-list hidden-xs col-md-1">
            <a href="{{path('aboutpage',{'section':"history"})}}">About </a>
            <a href="{{path('productshome')}}">Products</a>
            <a href="{{path('eventshome')}}">Events</a>
            <a href="{{path('locationpage')}}">Location</a>
            <a href="{{ path('contactpage') }}">Contact</a>
            <a href="">Register/Login</a>
        </div>

               {% render(controller("AppBundle:Social:lastTweets") ) %}

        <div class="instagram-feed feed hidden-sm hidden-xs col-md-4 col-lg-4">
            <div class="header">
                <img src="{{ asset('images/instagram-logo.png') }}" alt="">
                <div class="display">ON INSTAGRAM</div>

            </div>
            <div class="instagram-post-list" >

                <a  class="insta-post" ng-repeat="post in instagram_feed" ng-href="[[ post.link]]">

                    <img src="[[post.images.thumbnail.url]]" alt="">
                    
                </a>

            </div>

</div>
        
    </div>
    <div class="footer-bottom">
        <div class="copyright">© 2016 Bottle Apostle™ - All rights reserved</div>
    </div>

</footer>