 <div class="instagram-feed feed hidden-sm hidden-xs col-md-4 col-lg-4">
            <div class="header">
                <img src="{{ asset('images/instagram-logo.png') }}" alt="">
                <div class="display">ON INSTAGRAM</div>

            </div>
            <div class="instagram-post-list">

                <div class="post"></div>
                <div class="post"></div>
                <div class="post"></div>
                <div class="post"></div>
                <div class="post"></div>
                <div class="post"></div>
                <div class="post"></div>
                <div class="post"></div>
                <div class="post"></div>
            </div>

</div>