<div class="navigator">
    <h2 class="display3 display-primary">PRODUCTS</h2>
    <ul class="products-list">
        <li>WINES</li>
        <li>BEERS</li>
        <li>CIDERS</li>
        <li>SPIRITS</li>
    </ul>

    <form action="" class="products-search">
        <input type="text" placeholder="Search">
        <input type="submit" class="search-btn" value="">
    </form>
    

</div>
<div class="content">
    <div class="products-grid">
        <div class="grid-item">
            <div class="grid-top">
                <h2 class="display3 display-secondary">WINES</h2>
                <button class="btn-small btn-outline-secondary">view more</button>


            </div>
            <div class="dots-horz"></div>
            <div class="grid-bottom">
                <div class="product-container">
                    <div class="top">
                        <img src="{{ asset('images/bottle.png') }}" alt="" class="bottle-thumb">
                        <div class="bottle-data">
                            <div class="bottle-data-left">
                                <div class="bottle-year">2012</div>
                                <div class="bottle-type">château belle garde</div>
                                <div class="bottle-type">bordeaux</div>

                            </div>
                        </div>

                    </div>
                    <div style="display: flex; justify-content: space-between; margin: 10px 0" >
                        <div style="display: flex;">
                            <button class="btn-small btn-secondary">Add </button>
                            <span class="count">1</span>
                        </div>

                        <div class="price">Bottle <span class="price-tag">8.95</span></div>
                    </div>
                    <div class="segment-btn">
                        <button class="btn-small btn-outline-primary">CASE</button><button class="btn-small btn-outline-primary">BOTTLE</button>
                    </div>


                </div>
                <div class="product-container">
                    <div class="top">
                        <img src="{{ asset('images/bottle.png') }}" alt="" class="bottle-thumb">
                        <div class="bottle-data">
                            <div class="bottle-data-left">
                                <div class="bottle-year">2012</div>
                                <div class="bottle-type">château belle garde</div>
                                <div class="bottle-type">bordeaux</div>

                            </div>
                        </div>

                    </div>
                    <div style="display: flex; justify-content: space-between; margin: 10px 0" >
                        <div style="display: flex;">
                            <button class="btn-small btn-secondary">Add </button>
                            <span class="count">1</span>
                        </div>

                        <div class="price">Bottle <span class="price-tag">8.95</span></div>
                    </div>
                    <div class="segment-btn">
                        <button class="btn-small btn-outline-primary">CASE</button><button class="btn-small btn-outline-primary">BOTTLE</button>
                    </div>


                </div>
            </div>
        </div>
        <div class="grid-item">
            <div class="grid-top">
                <h2 class="display3 display-secondary">WINES</h2>
                <button class="btn-small btn-outline-secondary">view more</button>


            </div>
            <div class="dots-horz"></div>
            <div class="grid-bottom">
                <div class="product-container">
                    <div class="top">
                        <img src="{{ asset('images/chateau1-bottle.jpg') }}" alt="" class="bottle-thumb">
                        <div class="bottle-data">
                            <div class="bottle-data-left">
                                <div class="bottle-year">2012</div>
                                <div class="bottle-type">château belle garde</div>
                                <div class="bottle-type">bordeaux</div>

                            </div>
                        </div>

                    </div>
                    <div style="display: flex; justify-content: space-between; margin: 10px 0" >
                        <div style="display: flex;">
                            <button class="btn-small btn-secondary">Add </button>
                            <span class="count">1</span>
                        </div>

                        <div class="price">Bottle <span class="price-tag">8.95</span></div>
                    </div>
                    <div class="segment-btn">
                        <button class="btn-small btn-outline-primary">CASE</button><button class="btn-small btn-outline-primary">BOTTLE</button>
                    </div>


                </div>
                <div class="product-container">
                    <div class="top">
                        <img src="{{ asset('images/chateau1-bottle.jpg') }}" alt="" class="bottle-thumb">
                        <div class="bottle-data">
                            <div class="bottle-data-left">
                                <div class="bottle-year">2012</div>
                                <div class="bottle-type">château belle garde</div>
                                <div class="bottle-type">bordeaux</div>

                            </div>
                        </div>

                    </div>
                    <div style="display: flex; justify-content: space-between; margin: 10px 0" >
                        <div style="display: flex;">
                            <button class="btn-small btn-secondary">Add </button>
                            <span class="count">1</span>
                        </div>

                        <div class="price">Bottle <span class="price-tag">8.95</span></div>
                    </div>
                    <div class="segment-btn">
                        <button class="btn-small btn-outline-primary">CASE</button><button class="btn-small btn-outline-primary">BOTTLE</button>
                    </div>


                </div>
            </div>
        </div>
        <div class="grid-item">
            <div class="grid-top">
                <h2 class="display3 display-secondary">WINES</h2>
                <button class="btn-small btn-outline-secondary">view more</button>


            </div>
            <div class="dots-horz"></div>
            <div class="grid-bottom">
                <div class="product-container">
                    <div class="top">
                        <img src="{{ asset('images/chateau1-bottle.jpg') }}" alt="" class="bottle-thumb">
                        <div class="bottle-data">
                            <div class="bottle-data-left">
                                <div class="bottle-year">2012</div>
                                <div class="bottle-type">château belle garde</div>
                                <div class="bottle-type">bordeaux</div>

                            </div>
                        </div>

                    </div>
                    <div style="display: flex; justify-content: space-between; margin: 10px 0" >
                        <div style="display: flex;">
                            <button class="btn-small btn-secondary">Add </button>
                            <span class="count">1</span>
                        </div>

                        <div class="price">Bottle <span class="price-tag">8.95</span></div>
                    </div>
                    <div class="segment-btn">
                        <button class="btn-small btn-outline-primary">CASE</button><button class="btn-small btn-outline-primary">BOTTLE</button>
                    </div>


                </div>
                <div class="product-container">
                    <div class="top">
                        <img src="{{ asset('images/chateau1-bottle.jpg') }}" alt="" class="bottle-thumb">
                        <div class="bottle-data">
                            <div class="bottle-data-left">
                                <div class="bottle-year">2012</div>
                                <div class="bottle-type">château belle garde</div>
                                <div class="bottle-type">bordeaux</div>

                            </div>
                        </div>

                    </div>
                    <div style="display: flex; justify-content: space-between; margin: 10px 0" >
                        <div style="display: flex;">
                            <button class="btn-small btn-secondary">Add </button>
                            <span class="count">1</span>
                        </div>

                        <div class="price">Bottle <span class="price-tag">8.95</span></div>
                    </div>
                    <div class="segment-btn">
                        <button class="btn-small btn-outline-primary">CASE</button><button class="btn-small btn-outline-primary">BOTTLE</button>
                    </div>


                </div>
            </div>
        </div>
        <div class="grid-item">
            <div class="grid-top">
                <h2 class="display3 display-secondary">WINES</h2>
                <button class="btn-small btn-outline-secondary">view more</button>


            </div>
            <div class="dots-horz"></div>
            <div class="grid-bottom">
                <div class="product-container">
                    <div class="top">
                        <img src="{{ asset('images/chateau1-bottle.jpg') }}" alt="" class="bottle-thumb">
                        <div class="bottle-data">
                            <div class="bottle-data-left">
                                <div class="bottle-year">2012</div>
                                <div class="bottle-type">château belle garde</div>
                                <div class="bottle-type">bordeaux</div>

                            </div>
                        </div>

                    </div>
                    <div style="display: flex; justify-content: space-between; margin: 10px 0" >
                        <div style="display: flex;">
                            <button class="btn-small btn-secondary">Add </button>
                            <span class="count">1</span>
                        </div>

                        <div class="price">Bottle <span class="price-tag">8.95</span></div>
                    </div>
                    <div class="segment-btn">
                        <button class="btn-small btn-outline-primary">CASE</button><button class="btn-small btn-outline-primary">BOTTLE</button>
                    </div>


                </div>
                <div class="product-container">
                    <div class="top">
                        <img src="{{ asset('images/chateau1-bottle.jpg') }}" alt="" class="bottle-thumb">
                        <div class="bottle-data">
                            <div class="bottle-data-left">
                                <div class="bottle-year">2012</div>
                                <div class="bottle-type">château belle garde</div>
                                <div class="bottle-type">bordeaux</div>

                            </div>
                        </div>

                    </div>
                    <div style="display: flex; justify-content: space-between; margin: 10px 0" >
                        <div style="display: flex;">
                            <button class="btn-small btn-secondary">Add </button>
                            <span class="count">1</span>
                        </div>

                        <div class="price">Bottle <span class="price-tag">8.95</span></div>
                    </div>
                    <div class="segment-btn">
                        <button class="btn-small btn-outline-primary">CASE</button><button class="btn-small btn-outline-primary">BOTTLE</button>
                    </div>


                </div>
            </div>
        </div>

    </div>
    <div class="offers hidden-md">
        <h2 class="display3 display-secondary">OFFER/SEASONAL</h2>
        <div class="dots-horz"></div>
        <div class="flex-container" style="align-items: center">
            <div class="flex1 hidden-md hidden-sm">
                <img src="{{ asset('images/bottles/whisky-medium.png') }}" alt="" style="width: 100%; height: auto; max-width:300px" >
            </div>
            <div class="bottle-data flex1">
                <div class="bottle-data-left">
                    <div class="title">
                        THE BALVENIE CARIBBEAN CASK
                        70CL
                    </div>
                    <div class="price">42.00</div>
                <div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio quos, reiciendis! Adipisci atque aut eligendi ipsam laudantium non quasi reiciendis velit? Accusantium cupiditate expedita, id ipsa quidem sequi? Mollitia, necessitatibus?</div>
                    <div style="display: flex;">
                        <button class="btn-small btn-secondary">Add </button>
                        <span class="count">1</span>
                    </div>


                </div>

            </div>
        </div>

    </div>
</div>