{{ form_start(form, {'method': 'post', 'action': path('user_register'), 'attr': {'class': 'fos_user_registration_register','id':'register-form'}}) }}
{{ form_widget(form.firstName, { 'attr':{'placeholder':'First name'}}) }}
{{ form_widget(form.lastName, { 'attr':{'placeholder':'Last name'}}) }}
{{ form_widget(form.email, { 'attr':{'placeholder':'Email'}}) }}
{{ form_widget(form.plainPassword.first, { 'attr':{'placeholder':'Password'}}) }}
{{ form_widget(form.plainPassword.second, { 'attr':{'placeholder':'Password'}}) }}
<div class="ba-checkbox">
    {{ form_widget(form.subscribedToNewsletter) }}
    <label for="app_user_registration_subscribedToNewsletter"> Subscribe to our newsletter </label>
</div>
<a href="#0" class="terms">TERMS & CONDITIONS</a>
<input type="submit" value="SIGN ME UP" />

{{ form_end(form) }}