<div class="container-fluid site-header">


            <ul class="site-nav site-nav-left">
                <li id="about-menu"
                        {% if section == 'about' %}
                            class="active"
                        {% endif %}
                >
                    <a href="{{ path('aboutpage', {'section': 'history'}) }}" >About</a>
                    <div class="dropdown-menu ba-dropdown" id="about-dropdown">
                        <a href="{{path('aboutpage',{'section':"history"})}}" class="menu-item"> ABOUT US</a>
                        <a href="{{path('aboutpage',{'section':"staff"})}}" class="menu-item" >staff</a>
                        <a href="{{path('sonata_news_archive')}}" class="menu-item" >NEWS</a>
                    </div>

                </li>
                <li id="products-menu"
                        {% if section == 'products' %}
                            class="active"
                        {% endif %}
                    >
                    <a href="{{path('productshome')}}" >Products</a>
                    <div class="dropdown-menu ba-dropdown" id="products-dropdown">
                        {#{{ include ('components/products-dropdown.twig') }}#}
                    </div>

                </li>
                <li id="events-menu"
                        {% if section == 'events' %}
                            class="active"
                        {% endif %}
                >
                    <a href="#0" >Events</a>
                    <div class="dropdown-menu ba-dropdown" id="events-dropdown">
                        <a href="{{path('eventshome')}}" class="menu-item"> Events</a>
                        <a href="{{ path('events_wedding_home') }}" class="menu-item" >Weddings</a>
                    </div>
                </li>
            </ul>

        <a id="site-logo" href="{{ path('homepage') }}">

        </a>

            <ul class="site-nav site-nav-right">
                <li
                        {% if section == 'location' %}
                            class="active"
                        {% endif %}

                ><a href="{{path('locationpage')}}">Location</a></li>
                <li
                        {% if section == 'contact' %}
                            class="active"
                        {% endif %}
                ><a href="{{ path('contactpage') }}">Contact</a></li>
                <li class="cart-section" id="cart-menu">
                    <a href="#0" id="cart-btn">Your Cart</a>
                    <div id="connect-header-section">
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <a href="#0" id="user-btn">  {{ app.user.firstName }} </a>

                            <a href="{{ path('fos_user_security_logout') }}" id="logout-btn"> > LOGOUT</a>
                        {% else %}
                            <a href="#0" id="connect-btn">{{ 'Login | Register' |trans({}, 'FOSUserBundle') }}</a>
                        {% endif %}

                    </div>
                    {#<a href="#0" id="connect-btn"></a>#}
                    <div class="dropdown-menu ba-dropdown" id="cart-dropdown">
                        
                        {{ render(controller('ApplicationSonataBasketBundle:Basket:index'))}}

                        {# {{ include('components/cart-dropdown-content.twig') }} #}

                    </div>


                </li>
                {{  include('components/login-dropdown.html.twig') }}
            </ul>

    {{  include('components/login-dropdown.html.twig') }}
    <div id="notification-bar" >
    Product added to your cart

    </div>

</div>

