<div class="toolbar">
    <div class="title">LABELS</div>
</div>
<div class="dots-horz"></div>
<div class="margin-10"></div>
<div class="tag-list fluid-container">
     {% for tag in tags %}
        {% if tag.context == "news" %}
            <a href="{{ url('sonata_news_tag', { 'tag': tag.slug } ) }}" class="post-tag">{{ tag.name }} </a>
        {% endif %}
    {% endfor %} 
</div>