<div class="twitter-feed feed">
            <div class="header">
                <img src="{{ asset('images/twitter-logo.png') }}" alt="">
                <div class="display">RECENT TWEETS </div>

            </div>
            <div class="tweet-list" ng-init="bearer_token = '{{ bearer_token  }}'">
                <div class="tweet">
                    <img src="{{ asset('images/twitter-avatar.png') }}" alt="" class="account-avatar">
                    <div class="content">
                        <div class="header">
                            <div class="title">Bottle Apostle <span style="color:#bf9e56">@bottleapostle</span></div>
                            <div class="age">2h</div>
                        </div>
                        <div class="message">
                            #GinjoSake #PinotNoir #Carmenere #Monsant #Aligote all being poured tomorrow for our FREE
                            FRIDAY TASTING 4-8pm.
                        </div>
                    </div>
                </div>
                <div class="tweet">
                    <img src="{{ asset('images/twitter-avatar.png') }}" alt="" class="account-avatar">
                    <div class="content">
                        <div class="header">
                            <div class="title">Bottle Apostle <span style="color:#bf9e56">@bottleapostle</span></div>
                            <div class="age">2h</div>
                        </div>
                        <div class="message">
                            #GinjoSake #PinotNoir #Carmenere #Monsant #Aligote all being poured tomorrow for our FREE
                            FRIDAY TASTING 4-8pm.
                        </div>
                    </div>
                </div>
            </div>
        </div>