<div class="product-box">
      <div class="flex-container" style="align-items:center">
        
          <img src="{{asset('images/bottle.png')}}" alt="" class="img-responsive bottle-med">
          <div class="flex1 margin-10">
            <div class="bottle-data">
                        <div class="bottle-data-left">

                          <div class="flex-container" style="align-items:baseline">
                            <div class="color-dot"></div>
                            <h5>full bodieD rich reds</h5>
                        </div>
                            <div class="flex-container" style="align-items:center">
                              <div class="bottle-year" style="margin-right:10px"> 2012 </div>
                              <img src="" alt="" class="country-flag" >
                            </div>
                           
                            <div class="bottle-type">château belle garde</div>
                            <div class="bottle-type">bordeaux</div>
                            <div class="bottle-region">REGION NAME</div>
                        </div>
              </div>
              {{include('components/add-product-small-form.html.twig')}}
              </div>
          </div>     
      </div>
</div> <!-- product-box -->