<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{{  asset('css/404.css') }}">
    <link rel="stylesheet" href="{{ asset('css/layout.css') }}">
    <link rel="stylesheet" href="{{ asset('css/forms.css') }}">
</head>
<body id="page-404">
<div class="vertical-flex-container align-center"  >
<h4>404 NOT FOUND</h4>
<img src="{{ asset('images/broken_bottle.png') }}" alt="" id="broken-bottle">
<div class="vertical-flex-container align-center">
    <h1>We're sorry</h1>
    <p>The page you are looking for can't be found </p>
    <p>Try another search query or <a href="" class="ba-link">go back to previous page</a></p>

</div>
    <div class="margin-20"></div>
<div class="search-controls flex-container">
    <input type="text" placeholder="Enter search term" class="flex1">
    <input type="submit" value="">
</div>

</div>
</body>
</html>