<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{{  asset('css/404.css') }}">
    <link rel="stylesheet" href="{{ asset('css/layout.css') }}">
    <link rel="stylesheet" href="{{ asset('css/forms.css') }}">
</head>
<body id="page-500">
<div class="vertical-flex-container align-center">
    <div class="margin-20"></div>
    <h4>ERROR 500 - INTERNAL SERVER ERROR</h4>
    <img src="{{ asset('images/broken_bottle.png') }}" alt="" id="broken-bottle">
    <div class="vertical-flex-container align-center">
        <h1>We're sorry</h1>
        <p>The website encountered an error. It may be down for maintenance or configured incorrectly.</p>
        <p>Try to  <a href="" class="ba-link">reload the webpage</a> later.</p>

    </div>

</div>
</body>
</html>