{%  set section = "products" %}
{% extends 'base.html.twig' %}

{% block content %}

    <div class="flex-container " >
    <div class="sidebar padding-20">
        <h4>PRODUCTS</h4>
        <div class="dots-horz"></div>
        <ul class="products-list">
          <li><a href="{{path('winescatalog')}}">WINES</a></li>
          <li><a href="#0">BEERS</a></li>
          <li><a href="#0">CIDERS</a></li>
          <li><a href="#0">SPIRITS</a></li>
        </ul>

        <div style="margin-top: 30px">
      
          <div class="underline quote"> COUNTRY:</div>

          <div class="underline quote">PRICE</div>

          <button class="btn btn-outline-secondary">SEARCH</button>
        </div>
        <div class="flex-container" >
            <div class="vocheur-section padding-20 vertical-flex-container" style="justify-content:center">
            <div class="dots-horz"></div>
            <div class="flex-container" style="align-items:center">
              <div class="vertical-flex-container " style="align-items: center;margin-right: 20px;"
            
              >
                <p class="display-primary" style="font-size:45px; margin-top:10px;line-height:28px">GIFT</p>
                <p class="display-primary" style="font-size:18px">VOUCHER</p>  
              </div>


               <div class="main-search-section">
                <div class="search-controls">
                    <input id="main-search" type="text" class="ba-input" placeholder="ENTER AMOUNT" >
                    <button class="search-btn">
                      BUY
                    </button>
                    
                </div>

              </div>

            </div>
            
            <div class="dots-horz"></div>
          
          </div>
        </div>
    </div>

    <div class="products-grid ">
        <div class="grid-item margin-10" style="max-width:500px">
            <div class="grid-top">
                <h2 class="display3 display-secondary">WINES</h2>
                <a href="{{path('winescatalog')}}"class="btn-small btn-outline-secondary">view more</a>


            </div>
            <div class="dots-horz"></div>
            <div class="grid-bottom">
              {{ include('components/wine-product-box.html.twig')}}
              {{ include('components/wine-product-box.html.twig')}}
              {{ include('components/wine-product-box.html.twig')}}
              {# {{ include('components/wine-product-box.html.twig')}} #}
            </div>
        </div>
        
         <div class="grid-item margin-10" style="max-width:500px">
            <div class="grid-top">
                <h2 class="display3 display-secondary">WINES</h2>
                <button class="btn-small btn-outline-secondary">view more</button>


            </div>
            <div class="dots-horz"></div>
            <div class="grid-bottom">
              {{ include('components/wine-product-box.html.twig')}}
              {{ include('components/wine-product-box.html.twig')}}
              {{ include('components/wine-product-box.html.twig')}}
              {# {{ include('components/wine-product-box.html.twig')}} #}
            </div>
          </div>
        
         <div class="grid-item margin-10" style="max-width:500px">
            <div class="grid-top">
                <h2 class="display3 display-secondary">WINES</h2>
                <button class="btn-small btn-outline-secondary">view more</button>


            </div>
            <div class="dots-horz"></div>
            <div class="grid-bottom">
              {{ include('components/wine-product-box.html.twig')}}
              {{ include('components/wine-product-box.html.twig')}}
              {{ include('components/wine-product-box.html.twig')}}
              {# {{ include('components/wine-product-box.html.twig')}} #}
            </div>
            </div>
        
         <div class="grid-item  margin-10" style="max-width:500px">
            <div class="grid-top">
                <h2 class="display3 display-secondary">WINES</h2>
                <button class="btn-small btn-outline-secondary">view more</button>


            </div>
            <div class="dots-horz"></div>
            <div class="grid-bottom">
              {{ include('components/wine-product-box.html.twig')}}
              {{ include('components/wine-product-box.html.twig')}}
              {{ include('components/wine-product-box.html.twig')}}
              {# {{ include('components/wine-product-box.html.twig')}} #}
            </div>
          </div>
        
    
     
      
  </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}

      <script type="text/javascript">
      $(document).ready(function(){
            
           $(".grid-bottom").slick({
            slidesToShow: 2,
            slidesToScroll: 1,
            vertical: false
           });
        });
         
      </script>
{% endblock %}