
<html>
<head></head>
<body>
<p>Dear Customer,</p>
<p>we have received your inquiry about {{ enquiry }}.
    We will reply to you soon.
</p>
<p>Best, Bottle Apostle Support team.</p>

</body>
</html>

