<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
Dear {{ first_name |capitalize }} {{ last_name | capitalize }},
thanks for signin up to Bottle Apostle.

Best,
Bottle Apostle Team

</body>
</html>