
{% set section = "location" %}
{% extends 'base.html.twig' %}


{% block content %}
    <div class="flex-container" style="background:white">
        <div class="flex1 no-margin padding-20">
          <div class="contact-form-container">
            <div class="title">CONTACT US</div>

         
            <div class="dots-horz"></div>

            {% render(controller('AppBundle:Contact:contactForm'))%}
            
        </div>
            
        </div>
        <div class="flex1 no-margin flex-container"  style="position: relative">
            <div class="flex1 no-margin" id="map"></div>
              <div id="map-info-container" class="flex-container" style="display: none!important;">
                  <div class="flex1">
                      <img src="{{ asset('images/shop/shop1.jpg') }}" alt="" class="shop-picture" >

                  </div>
                  <div class="flex1 vertical-flex-container padding-10">
                    <div class="flex-container align-middle">
                        <h4 class="flex1" id="shop-name">EAST VILLAGE</h4>
                        <div id="close-btn"><img src="{{ asset('images/close_btn.png')}}" style="width:20px; height:20px"></div>
                    </div>


                      <div class="dots-horz"></div>
                      <div class="margin-5"></div>
                      <div class="address-container">
                          <header>ADDRESS</header>
                          <p >Unit 7.2, 3-4 West Park Walk East Village, London, E20 1DH</p>
                      </div>
                      <div class="margin-5"></div>
                      <div class="phone-container">
                          <header>TELEPHONE</header>
                          <p>02038232323</p>
                      </div>
                      <div class="margin-5"></div>
                      <div class="email-container">
                          <header>EMAIL</header>
                          <p>info@bottleapostle.com</p>
                      </div>
                      <div class="margin-5"></div>
                      <div class="openings-container">
                          <header>OPENING TIMES</header>
                          {#list goes here#}

                      </div>

                  </div>
              </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
     {{parent()}}
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDR6PSAb79b-GbNX2QCeBkx96tUAKrPgak&callback=initMap"
    async defer></script>

    <script type="text/javascript">
        var mapInfoContainer = $('#map-info-container');

        var address = mapInfoContainer.find(".address-container p");
        var phone = mapInfoContainer.find(".phone-container p");
        var email = mapInfoContainer.find('.email-container p');
        var openTimes = mapInfoContainer.find('.openings-container');

        var shopName = $('#shop-name');
        var fillInfoContainerWithData =function(data){
            console.log(data);
            address.text(data.address);
            phone.text(data.phone);
            email.text(data.email);
            shopName.text(data.name);
            for (var index in data.opening){

                var line = $("<p></p>").text(data.opening[index]);
                line.appendTo(openTimes);

            }
        };
     var initMap = function () {

        // Create a new StyledMapType object, passing it an array of styles,
        // and the name to be displayed on the map type control.
        var styledMapType = new google.maps.StyledMapType(
          [
            {
              stylers: [
                { hue: '#00ffe6' },
                { saturation: -20 }
              ]
            },{
              featureType: 'road',
              elementType: 'geometry',
              stylers: [
                { lightness: 100 },
                { visibility: 'simplified' }
              ]
            },{
              featureType: 'road',
              elementType: 'labels',
              stylers: [
                { visibility: 'off' }
              ]
            }
          ],
          {name: 'Styled Map'});

        // Create a map object, and include the MapTypeId to add
        // to the map type control.
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 51.507171, lng: -0.1296907},
          zoom: 11

        });


        //Associate the styled map with the MapTypeId and set it to display.
        map.mapTypes.set('styled_map', styledMapType);
        map.setMapTypeId('styled_map');
         var pos = {};
         var marker = {};
         var infoWindow = {};
         {% for shop in shops %}
         pos = new google.maps.LatLng({{ shop.latitude }},{{ shop.longitude }});
         marker = new google.maps.Marker({
             position:  pos,
             map: map,
             title: '{{ shop.name }}'
         });

         marker.addListener('click', function() {

            var data = {
              name: '{{ shop.name }}',
                address: '{{ shop.address }}',
                email: '{{ shop.email }}',
                phone: '{{ shop.phone }}',
                opening: [
                    {% for openingtime in shop.openings %}
                    '{{ openingtime.day }}: {{ openingtime.from  | date('h:i A') }} - {{ openingtime.to | date('h:i A')}}'
                    {% if not loop.last %}
                        ,
                    {% endif %}
                    {% endfor %}
                ]

            };
            fillInfoContainerWithData(data);
            mapInfoContainer.fadeIn();
         });

         {% endfor %}


      };



      $(document).ready(function () {



          $('#close-btn').click(function () {
//              console.log('document ready');
              mapInfoContainer.fadeOut();

              //now set display to none with important
              //this is needed because Soy un boludo
              // y use flex!important. Lo cual esta mal
              mapInfoContainer.attr("style", "display: none !important");
          });

      });

    </script>
{% endblock %}

{% block stylesheets %}
    {{parent()}}
    <style>
        #map{
            min-height: 400px;
        }
    </style>
{% endblock %}