
{% set section = "home" %}
{% extends 'base.html.twig' %}

{% block content %}
    <div id="home-slides">
        {{include('default/home/slide1.html.twig')}}
        {{include('default/home/slide2.html.twig')}}
        {{include('default/home/slide3.html.twig')}}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $(document).ready(function(){
            $('#arrivals-slick').slick({
                slidesToShow:1,
                slidesToScroll: 1,

                 centerMode: false
            });

        });
    </script>
    <script type="text/javascript">

        $(document).ready(function () {

//            $('#home-slides').slick({
//                infinite:false,
//                slidesToShow:1,
//                slidesToScroll:1,
//               arrows: false,
//               vertical: true,
//               variableHeight:true,
//               verticalSwiping: true
//            });


             $('.slide-down').click(function(){
                $('#home-slides').slick('slickNext');
             });  
               $('.slide-up').click(function(){
                console.log("slide up")
                $('#home-slides').slick('slickPrev');
             });  



//            $('.suggestion-list').slick({
//                arrows: false,
//                vertical: true,
//                slidesToShow: 1,
//                slidesToScroll: 1,
//            });

            $(".down-btn").click(function () {
                console.log("called");
                $('.suggestion-list').slick('slickNext');
            });
    //            setTimeout(function(){
    //
    //               $('.search-suggestions').slideUp(10);
    //            }, 10);
            var suggestionList = $('.suggestion-list');










        });
//        $(document).mouseup(function (e)
//        {
//            var container = $(".main-search-section");
//
//            if (!container.is(e.target) // if the target of the click isn't the container...
//                    && container.has(e.target).length === 0) // ... nor a descendant of the container
//            {
//                $('.search-suggestions').slideUp();
//            }
//        });


    </script>
{% endblock %}
