<div class="slide slide2">

    <div class="slide-down"></div>
    <div class="slide-up"></div>
      <h1 class="display-white ">
          Enomatic experience
      </h1>
      <div class="outline"></div>
        <h2 class="display">
            Embark in a journey for the senses
        </h2>
        <div class="cards-section">
            <div class="fluid-container">
                <div class="col-md-3 col-lg-3 card-container">
                    <img src="{{ asset('images/card-icon-1.png') }}" alt="" class="card-icon">
                    <div class="card-title">
                        Ask for a tasting card
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 card-container">
                    <img src="{{ asset('images/card-icon-2.png') }}" alt="" class="card-icon">
                    <div class="card-title">
                        Top-up cash on your tasting card
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 card-container">
                    <img src="{{ asset('images/card-icon-3.png') }}" alt="" class="card-icon">
                    <div class="card-title">
                        Taste up to 16 different wines
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 card-container">
                    <img src="{{ asset('images/card-icon-4.png') }}" alt="" class="card-icon">
                    <div class="card-title">
                        Buy your favourite
                    </div>
                </div>
            </div>


        </div>
        <button class="gold-btn">
            Learn more
        </button>

  </div>

