
    <div class="slide slide1" ng-controller="HomeSlide1Ctrl" >
        <div class="slide-down"></div>
        <h1 class="display-white">Wines to sample, buy and adore</h1>
        <div class="margin-20"></div>
        <div class="main-search-section" style="width:400px">

            <angucomplete-alt id="wine-search"
                              placeholder="SEARCH WINES"
                              pause="400"
                              remote-api-handler="searchWines"
                              input-class="ba-input"
                              minlength="1"
                              remote-url-data-field="results"
                              remote-url-response-formatter="dataFormatter"
                              template-url="/search-field-template.html"
                />


            <div class="search-controls ui-front">
                <input id="main-search" type="text" class="ba-input">
                <button class="search-btn"><img src="{{ asset('images/search-btn.png') }}" alt=""></button>
            </div>
            <div class="search-suggestions" id="search-results">
                {#<ul class="suggestion-list" id="main-search-suggestions">#}
                  {##}
                {#</ul>#}
                <button class="down-btn">

                </button>
            </div>
        </div>


    </div>



    <script type="text/ng-template" id="/search-field-template.html">
        <div class="angucomplete-holder" ng-class="{'angucomplete-dropdown-visible': showDropdown}">
            <div class="search-controls ">
                <input ng-model="searchStr"
                       ng-disabled="disableInput"
                       type="text"
                       placeholder="[[placeholder]]"
                       ng-focus="onFocusHandler()"
                       class="[[inputClass]]"
                       ng-focus="resetHideResults()"
                       ng-blur="hideResults($event)"
                       autocapitalize="off"
                       autocorrect="off"
                       autocomplete="off"

                       ng-change="inputChangeHandler(searchStr)"/>

                <button class="search-btn"><img src="{{ asset('images/search-btn.png') }}" alt=""></button>
            </div>
            <div class="search-suggestions" id="search-results">
                {%  verbatim %}
            <ul class="suggestion-list-dropdown" ng-show="showDropdown">
                <div class="angucomplete-searching" ng-show="searching" ng-bind="textSearching"></div>
                <div class="angucomplete-searching" ng-show="!searching && (!results || results.length == 0)" ng-bind="textNoResults"></div>
                <li class="suggestion-row" ng-repeat="bottle in results" ng-click="selectResult(result)" ng-mouseenter="hoverRow($index)"
                     ng-class="{'angucomplete-selected-row': $index == currentIndex}"
                >

                    <div>
                        <img src="[[bottle.originalObject.imageurl]]" alt="" class="bottle-thumb">
                    </div>
                    <div class="vertical-container">
                        <div class="bottle-data">
                            <div class="bottle-data-left">

                                    <div class="bottle-year">[[bottle.originalObject.year]]{{name}} </div>
                                    <div class="bottle-name">[[bottle.originalObject.name]] </div>
                                    <div class="bottle-category">[[bottle.originalObject.type]]</div>
                                    <div class="bottle-type">[[bottle.originalObject.grapes]]</div>
                            </div>
                            <div class="bottle-data-right">
                                <div class="bottle-price">
                                    BOTTLE <span class="price-tag"> £ [[bottle.originalObject.price]]</span>
                                </div>
                            </div>
                         </div>
                        <div class="dots-horz"></div>
                    </div>
                </li>
            </ul>

            {% endverbatim  %}
                </div>
        </div>
    </script>