<div class="slide slide3">
    <div class="slide-up"></div>
    <div class="flex-container" style="width: 100%">


            <div class="flex1 padding-20 cream-bg" style="min-height:900px">

                    <div class="flex1"  id="arrivals-slick" style="width: 650px">
                        {{render(controller('BottleApostleProductsBundle:Products:showNewArrivals'))}}
                    </div>

            </div>

            <div class="flex1" >
                {#<div class="fluid-container products-grid">#}
                    {#{{include('components/wine-product-box.html.twig')}}#}
                    {#{{include('components/wine-product-box.html.twig')}}#}
                    {#{{include('components/wine-product-box.html.twig')}}#}
                    {#{{include('components/wine-product-box.html.twig')}}#}
                    {#{{include('components/wine-product-box.html.twig')}}#}
                    {#{{include('components/wine-product-box.html.twig')}}#}
                {#</div>#}
            </div>
        </div>
</div>
