{% set section = "about" %}
{% extends 'base.html.twig' %}
{% block content %}
    <div class="container-fluid padding-20 posts-section">
        <div class="row">
            <div class="col-md-6 col-lg-6 col-md-offset-2 col-lg-offset-2">
                <div class="row no-padding">
                <div class="toolbar">
                    <div class="title">NEWS</div>
                    
                </div>
                <div class="dots-horz"></div>
                {% for post in pager.getResults() %}
                <div class="post">
                    <div class="post-title">{{ post.title }}</div>
                    <div class="post-meta">
                        Posted by {{ 'archive_author'|trans({'%author%': post.author }, 'SonataNewsBundle') }} at {{ post.publicationDateStart | format_date }}.
                        {% if post.tags|length > 1 %}
                         Labels: 
                        {% for tag in post.tags %}
                             <a href="{{ url('sonata_news_tag', { 'tag': tag.slug } ) }}" class="post-tag">{{ tag.name }}</a>
                        
                        {% endfor %}

                        {% endif %}

                        <a class="post-comments pull-right">
                            {{post.commentsCount}} comments:
                        </a>
                    </div>
                    <div class="margin-20"></div>
                    <div class="container-fluid no-padding">
                        <div class="col-md-4 no-padding">
                            <img src="{% path post.image, 'big' %}" class="img-responsive">
                        </div>
                        <div class="col-md-8 display3 no-padding">
                            <div class="container-fluid no-padding" >
                                <div class="col-md-12" style="min-height:120px">
                                   {{ post.abstract }}
                                </div>
                                <div class="col-sm-12">
                                    <div class="margin-20"></div>
                                    <a style="max-width: 100px" class="btn btn-outline-primary pull-right btn-medium" href="{{ url('sonata_news_view', { 'permalink': sonata_news_permalink(post) }) }}">
                                        READ MORE
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                    
                {% if not loop.last %}
                    <div class="dots-horz"></div>
                {% endif %}
                {% endfor %}
                </div>

                <ul class="pager">
        <li{% if pager.page == pager.lastPage %} class="disabled"{% endif %}><a href="{{ url(route, route_parameters|merge({'page': pager.nextpage})) }}" title="{{ 'link_previous_page'|trans({}, 'SonataNewsBundle') }}">{{ 'link_previous_page'|trans({}, 'SonataNewsBundle') }}</a>
        <li{% if pager.page == pager.firstPage %} class="disabled"{% endif %}><a href="{{ url(route, route_parameters|merge({'page': pager.previouspage})) }}" title="{{ 'link_next_page'|trans({}, 'SonataNewsBundle') }}">{{ 'link_next_page'|trans({}, 'SonataNewsBundle') }}</a></li>
    </ul>
            </div>
            <div class="row">
            <div class="col-md-4 col-lg-4">
                
                
                <div class="toolbar">
                    <div class="title">KEEP UP TO DATE</div>
                </div>
                <div class="dots-horz"></div>
                <div class="margin-20"></div>

                 <div class="form-card" id="subscription-form" style="width: 100%; min-width: 100px">
                    <header>Subscribe To Our Newsletter</header>
                    <form  class="container-fluid " id="newsletter-subcription-form" action="{{ path("newsletter_subcription_api") }}">


                        <div class="row">
                            <input type="text" placeholder="Name" required minlength="4" name="name">
                        </div>
                        <div class="row">
                            <input type="email" placeholder="Email" required minlength="4" name="email">
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-md-offset-6 no-padding">

                                <button class="btn btn-outline-primary pull-right">SUBSCRIBE</button>
                            </div>
                        </div>

                    </form>
                </div>

                <div class="form-card" style="min-width: 100px; width:100%; padding: 20px; display: none" id="confirmation-section">
                        <h3>Thanks for subscribing to our newsletter.</h3>
                </div>



                <div class="margin-20"></div>
               {% render(controller('ApplicationSonataNewsBundle:News:showTags')) %}
            </div>

            </div>


        </div>
    {% endblock %}

{%  block javascripts %}
         {{ parent() }}
            <script type="application/javascript" src="{{ asset('bower_components/jquery-form/jquery.form.js') }}"></script>
            <script type="application/javascript">

            var $form = $("#newsletter-subcription-form");
            var $subscription_btn = $($form).find("button");
            var $confirm_section =  $("#confirmation-section");
            $(document).ready(function () {

                    var options = {

                    beforeSubmit:  showRequest,  // pre-submit callback
                    success:       showResponse  // post-submit callback

                    };



                $form.validate();
                $('#newsletter-subcription-form').ajaxForm(options);


            }) ;

            function showRequest() {
                if($form.valid()){

                    $subscription_btn.text("SENDING...");
                    $subscription_btn.attr("enabled",false);

                    return true;
                }
                else{

                    return false;
                }


            }
            function  showResponse(response) {
                console.log(response);
                $subscription_btn.text("SUBSCRIBE");
                $subscription_btn.attr("enabled",true);
                if(response.success){
                    //show thanks text
                    $form.hide();
                    $confirm_section.show();
                }else{
                    alert(response.message)
                }
            }
        </script>


        {% endblock %}