{% set section = "about" %}
{% extends 'base.html.twig' %}
{% block content %}
    <div class="container-fluid padding-20 posts-section">
        <div class="row">
            <div class="col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2">
                
                <div class="toolbar">
                    <div class="title">NEWS</div>
                <a class="pull-right display-primary title" href="{{path('sonata_news_archive')}}">  BACK</a>
                </div>
                <div class="dots-horz"></div>
                
                <div class="post" style="min-height: 500px">
                    <div class="post-title">{{ post.title }}</div>
                    <div class="post-meta">
                        Posted by {{ 'archive_author'|trans({'%author%': post.author }, 'SonataNewsBundle') }} at {{ post.publicationDateStart | format_date }}.
                        {% if post.tags|length > 1 %}
                            Labels:
                            {% for tag in post.tags %}
                                <span class="post-tag">{{tag.name}}</span>
                                
                            {% endfor %}
                        {% endif %}
                        <a class="post-comments pull-right">
                            {{post.commentsCount}} comments:
                        </a>
                    </div>
                    <div class="margin-20"></div>
                    <div class="container-fluid no-padding">
                        
                        <div class="col-md-12 display3 no-padding">
                            <img src="{% path post.image, 'big' %}" alt="" class="img-responsive" style="width: 300px;float:left; padding-right:10px" >
                            
                            {{ post.content|raw }}
                        </div>
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}