
{% set section = "events" %}
{% extends 'base.html.twig' %}

{%block content%}


    <div class="flex-container" style="background: white">

        <div class="flex1 vertical-flex-container align-middle padding-20" style="align-items: flex-start">

            <div class="flex-container align-middle" >
                <div class="margin-20"></div>
                <div class="card-container">

                    <div class="card-icon card-icon-gold">1</div>

                </div>
                <div class="margin-20">
                    <p class="display3">Browse our range of wines and take note of any favorites</p>
                </div>
            </div>

            <div class="margin-20"></div>
            <div class="flex-container align-middle" >
                <div class="margin-20"></div>
                <div class="card-container">

                    <div class="card-icon card-icon-gold">2</div>

                </div>
                <div class="margin-20">
                    <p class="display3">Visit our contact form and tell us a few details about your wedding, guest numbers and wine preferences</p>
                    <a href="{{ path('contactpage',{'wedding':true}) }}" class="btn btn-outline-primary " style="width: auto; padding:4px 10px;">ENQUIRE NOW</a>
                </div>
            </div>

        </div>


        <div class="flex1 vertical-flex-container" id="wedding-2A-images-container">
            <div class="flex1"></div>
            <div class="flex1"></div>
        </div>

    </div>
{% endblock %}