


<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

var trackingId = 'UA-74103161-2';
//change the tracking id from this url https://analytics.google.com/analytics/web/#management
ga('create', trackingId, 'auto');
ga('send', 'pageview');

{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
var userId = {{  app.user.id }}; //from twig
ga('set', 'userId', userId);
{% endif %}


</script>