<!DOCTYPE html >
<html >
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Bottle Apostle{% endblock %}</title>

        <style>
            [ng-cloak] {
                display: none;
            }
        </style>


        {% block stylesheets %}


            <link rel="stylesheet" href="{{ asset('bower_components/normalize-css/normalize.css') }}">
            <link rel="stylesheet" href="{{ asset('bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('bower_components/slick-carousel/slick/slick.css') }}">
            <link rel="stylesheet" href="{{ asset('bower_components/slick-carousel/slick/slick-theme.css') }}">
            <link rel="stylesheet" href="{{ asset('bower_components/angularjs-slider/dist/rzslider.min.css') }}">
            <link rel="stylesheet" href="{{ asset('bower_components/angular-ui-select/dist/select.min.css') }}">
            <link rel="stylesheet" href="{{ asset('bower_components/select2/dist/css/select2.css') }}">

            <link rel="stylesheet" href="{{asset('bower_components/jquery-ui/themes/base/jquery-ui.css')}}">
            <link rel="stylesheet" href="{{asset('css/jquery-ui.ba.theme.css')}}">
            <link rel="stylesheet" href="{{asset('css/select2.ba.theme.css')}}">
            <link rel="stylesheet" href="{{asset('css/ba.rzslider.theme.css')}}">
            <link rel="stylesheet" href="{{ asset('bower_components/flag-icon-css/css/flag-icon.min.css') }}" >
             <link rel="stylesheet" href="{{asset('css/alert.css')}}">
             <link rel="stylesheet" href="{{asset('css/checkout.css')}}">
            <link rel="stylesheet" href="{{asset('css/animate.css')}}">
            <link rel="stylesheet" href="{{asset('css/ba.rzslider.theme.css')}}">
            <link rel="stylesheet" href="{{ asset('css/app.css') }}">

             <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" >

           
        {% endblock %}

        <script type="application/javascript" src="{{ asset('bower_components/jquery/dist/jquery.min.js') }}"></script>
            
       
         <script type="application/javascript"
                    src="{{ asset('bower_components/jquery-ui/jquery-ui.min.js') }}"></script>

    </head>
    <body ng-app="BottleApostleApp" ng-cloak="" >
    {% include('analyticstracking.html.twig') %}
    {%  render(controller('ApplicationSonataBasketBundle:Basket:checkoutStepper')) %}
        {% block body %}
            {% include('components/site-header.html.twig') %}
            <div class="site-content">
                {% block content %}{% endblock %}



            </div>
            {% include ('components/footer.html.twig') %}
        {% endblock %}
        {% block javascripts %}


            <script src="{{ asset('bower_components/jquery-validation/dist/jquery.validate.min.js')}}"></script>
            <script src="{{ asset('bower_components/jquery-validation/dist/additional-methods.min.js')}}"></script>



            <script type="application/javascript" src="{{ asset('bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
            <script type="application/javascript" src="{{ asset('bower_components/jquery.transit/jquery.transit.js') }}"></script>
            <script type="application/javascript" src="{{ asset('bower_components/angular/angular.js')}}"></script>
            <script type="application/javascript" src="{{ asset('bower_components/base64/base64.min.js')}}"></script>
            <script type="application/javascript" src="{{ asset('bower_components/angularjs-slider/dist/rzslider.min.js') }}"> </script>
            <script type="application/javascript" src="{{ asset('bower_components/angucomplete-alt/angucomplete-alt.js') }}"> </script>
            <script type="application/javascript" src="{{ asset('bower_components/angular-ui-select/dist/select.js') }}"> </script>
            <script type="application/javascript" src="{{ asset('bower_components/angular-sanitize/angular-sanitize.min.js') }}"> </script>
            <script type="application/javascript" src="{{ asset('bower_components/angular-animate/angular-animate.min.js')}} " ></script>


            <script type="application/javascript" src="{{ asset('js/jquery.form.min.js') }}"></script>


            <script type="application/javascript" src="{{ asset('js/app.js') }}"></script>
            <script type="application/javascript" src="{{ asset('js/controllers/footer.js') }}"></script>
            <script type="application/javascript" src="{{ asset('js/controllers/homeslide1.js') }}"></script>
            <script type="application/javascript" src="{{ asset('js/controllers/wines/search.js') }}"></script>
            <script type="application/javascript" src="{{ asset('js/controllers/checkout/CheckoutSidebarController.js') }}"></script>
            <script type="application/javascript" src="{{ asset('js/controllers/catalog/wines/catalog_wines_sidebar_ctrl.js') }}"></script>
            <script type="application/javascript" src="{{ asset('js/controllers/events/filter_event_ctrl.js') }}"></script>

            <script type="application/javascript" src="{{ asset('js/services/LastTweets.js') }}"></script>


            <script type="application/javascript" src="{{ asset('js/site-header.js') }}"></script>

            <script type="application/javascript" src="{{ asset('js/login.js') }}"></script>
            
            <script type="application/javascript" src="{{ asset('js/basket.js') }}"></script>
            <script type="application/javascript" src="{{ asset('js/crave.ui.js') }}"></script>

            <script type="application/javascript" src="{{ asset('js/crate.ui.js') }}"></script>

            <script type="application/javascript" src="{{ asset('js/cratecontainer.ui.js') }}"></script>
            <script type="application/javascript" src="{{ asset('js/notify.min.js') }}"></script>
            <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>



            <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

        {% endblock %}
    </body>
</html>
