<div class="sidebar padding-20" ng-controller="MainProductsSidebarCtrl">
    <h4>PRODUCTS</h4>
    <div class="dots-horz"></div>
    <ul class="products-list">
        {% for category in root_category.getChildren() %}
            {% if category.enabled == true %}
                <li><a href="{{path('categorycatalog',{'slug':category.slug})}}">{{category.name}}</a></li>

            {% endif %}
        {% endfor %}

    </ul>
    <div style="margin-top: 30px">

        <div class="underline quote"> COUNTRY: </div>
        <div class="underline quote">PRICE</div>

        <rzslider rz-slider-model="price_slider.minValue"
                  rz-slider-high="price_slider.maxValue"
                  rz-slider-options="price_slider.options"></rzslider>


        <div class="margin-20"></div>
        <button class="btn btn-outline-secondary">SEARCH</button>
    </div>
    <div class="flex-container" >
        <div class="vocheur-section padding-20 vertical-flex-container" style="justify-content:center">
            <div class="dots-horz"></div>
            <div class="flex-container" style="align-items:center">
                <div class="vertical-flex-container " style="align-items: center;margin-right: 20px;"

                >
                    <p class="display-primary" style="font-size:45px; margin-top:10px;line-height:28px">GIFT</p>
                    <p class="display-primary" style="font-size:18px">VOUCHER</p>
                </div>
                <div class="main-search-section">
                    <div class="search-controls">
                        <input id="main-search" type="text" class="ba-input" placeholder="ENTER AMOUNT" style="font-size: 10px;" >
                        <button class="search-btn">
                            BUY
                        </button>

                    </div>
                </div>
            </div>

            <div class="dots-horz"></div>

        </div>
    </div>
</div>