{% extends 'base.html.twig' %}

{% block content %}
    <div class="container">
        <div class="title">ABOUT US</div>
        <div class="dots-horz"></div>
        <div class="fluid-container" style="margin-top: 10px">
        <div class="col-md-2 col-lg-2" id="about-nav">
            <p class="nav-item active">HISTORY </p>
            <p class="nav-item">STAFF</p>
        </div>
            <div class="col-md-6 col-lg-6">

                <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem beatae commodi consectetur
                    consequatur cumque doloremque doloribus dolorum, ducimus iure laborum libero nisi nobis praesentium,
                    recusandae repudiandae tempora tempore temporibus veritatis.
                </div>
                <div>Dolores explicabo incidunt laudantium mollitia natus nostrum, quidem vitae voluptatibus? Aliquid
                    incidunt ipsum nam odit pariatur placeat quia. Consequuntur incidunt ipsam obcaecati perspiciatis,
                    praesentium quod ratione soluta sunt ut veniam!
                </div>
                <div>Architecto at atque autem doloremque ducimus earum fugiat illo impedit in incidunt ipsa laboriosam
                    nam nesciunt nihil nulla officiis pariatur provident quam quidem quo quos rem, sint tempore tenetur
                    voluptas?
                </div>
                <div>Accusamus autem blanditiis consectetur consequuntur, dolorum expedita hic illum impedit mollitia
                    non odio officiis quas quisquam recusandae repellendus reprehenderit sed sint, totam, ut voluptas.
                    Blanditiis itaque laudantium omnis rerum veniam!
                </div>
                <div>Aut culpa deserunt dolore dolorem doloribus dolorum ea eligendi, eos expedita explicabo facilis
                    fuga in inventore minus modi neque nihil, numquam officiis provident quam quibusdam rem sapiente,
                    sint sit veniam.
                </div>
            </div>
            <div class="col-md-4 col-lg-4">
                Images here
                </div>
        </div>
    </div>

{% endblock %}