
{% set section = "security" %}
{% extends 'base.html.twig' %}

{% block content %}

    <div class="center-vertical" >

        <div class="connect-section">
            <div class="col-md-6 col-lg-6 col-sm-6">
                <div class="form-card">
                    <div class="header">
                        Login to our site
                    </div>
                    <form action="{{path('fos_user_security_check')}}" method="post" id="login-form">

                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate')  }}" id="login_csrf_token">
                        {#{{ csrf_token }}"/>#}


                        <input type="text" id="username" name="_username" value="" required="required"
                               placeholder="Username"/>

                        <input type="password" id="password" name="_password" required="required" placeholder="Password" />

                        <div class="ba-checkbox">
                            <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
                            <label for="remember_me"> {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }} </label>
                        </div>
                       
                        <a href="{{path('fos_user_resetting_request')}}" class="display3 pull-right">Forgot password?</a>

                        <input type="submit" id="_submit" name="_submit" value="SIGN IN"/>
                    </form>

                </div>
                <p class="login-separator">... or login with</p>
                <div class="social-buttons-section">

                    <div class="social-btn">
                        <a href="/oauth/connect/facebook">
                            <img src="{{ asset('images/fb-btn.png') }}" alt="">
                        </a>
                    </div>
                    <div class="social-btn">
                        <a href="/oauth/connect/twitter">
                            <img src="{{ asset('images/twitter-btn.png') }}" alt="">
                        </a>
                    </div>
                    <div class="social-btn">
                        <a href="/oauth/connect/google" class="">
                            <img src="{{ asset('images/plus-btn.png') }}" alt="">
                        </a>
                    </div>

                </div>

            </div>
            <div class="col-md-6 col-lg-6 col-sm-6">
                <div class="form-card">
                    <div class="header">
                        Sign up now
                    </div>
                    {% render url('user_register') %}
                </div>
            </div>
        </div>
    </div>





{% endblock %}