{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}


{#
    Default product template file, you can
      => customize the global template : Produccont:Product:view.twig
      => rewrite your own template
#}

<td>{{basketElement.quantity}}</td>
<td>{{basketElement.name}}</td>
<td>{{basketElement.getUnitPrice(false)|number_format_currency(basket.currency, {}, {}, basket.locale) }}</td>

{#
{% block product_unit_price %}
    {{ basketElement.getUnitPrice(false)|number_format_currency(basket.currency, {}, {}, basket.locale) }}
{% endblock %}

{% block product_quantity %}
    {{ form_errors(formView.quantity) }}
    {{ form_widget(formView.quantity) }}
{% endblock %}

{% block product_total_excl %}
    {{ basketElement.getTotal(false)|number_format_currency(basket.currency, {}, {}, basket.locale) }}
{% endblock %}

{% block product_total_inc %}
    {{ basketElement.getTotal(true)|number_format_currency(basket.currency, {}, {}, basket.locale) }}
{% endblock %}

{% block product_delete %}
    {{ form_widget(formView.delete) }}
{% endblock %}
#}
