{%  set section = "products" %}
{% extends 'base.html.twig' %}
{% block content %}
  <div class="flex-container " >
    {{ include("components/products/main_sidebar.html.twig") }}

    <div class="products-grid flex1">
      {% for category in root_category.getChildren() %}
        {% if category.enabled %}
        <div class="grid-item margin-10 col-sm-12 col-md-6" ng-controller="CatalogSliderCtrl" ng-init='categoryId = "{{ category.id  }}"'>
          <div class="grid-top">
            <h2 class="display3 display-secondary">{{category.name | upper}} </h2>
            <a href="{{ path('categorycatalog', {'slug': category.slug}) }}" class="btn-small btn-outline-secondary">view more</a>
          </div>
          <div class="dots-horz"></div>
            <div class="horz_prod_slider">
                 {% render(controller('BottleApostleProductsBundle:Catalog:showPreviewCatalog',{'category_id':category.id})) %}
            </div>
        </div>
      {% endif %}
    {% endfor %}
    </div>
    
  </div>
{% endblock %}



{% block javascripts %}
  {{ parent() }}

  <script src="{{ asset('js/controllers/products/main_products_sidebar_ctrl.js') }}"></script>
  <script src="{{ asset('js/controllers/products/catalog_slider_controller.js') }}"></script>
  <script type="text/javascript">






  $(document).ready(function(){




  // bind to the form's submit event
  $('.add-product-form').submit(function(e) {
  // inside event callbacks 'this' is the DOM element so we first
  // wrap it in a jQuery object and then invoke ajaxSubmit
  e.preventDefault();

  var button = $(this).find(".btn-secondary.btn-small");

  button.val("ADDING");

  $(this).ajaxSubmit(function(result){
    if (result.success ===  true){
      // alert('product added');
      updateBasket();

    }else{
        console.log(result);
        // alert('product not added');
        console.log(result.errors);

    }
    button.val("ADD TO CART");
  });
  
  // !!! Important !!!
  // always return false to prevent standard browser submit and page navigation
  return false;
  });
  
  
  });
  
  </script>
{% endblock %}