{%  set section = "products" %}
{% extends 'base.html.twig' %}

{% block content %}

    <div class="flex-container " >

        <div class="flex1 flex-container padding-20">

            <div class="flex1">
            
            {% if  product.image %}
                <img src="{% path product.image, 'big' %}" class="img-big" >
            {% else %}
                <img src="{{ asset('images/wine-medium.png') }}" class="img-big" > 
            {% endif %}
            </div>
            <div class="data flex1 vertical-flex-container">
                <img src="" alt="" class="country-flag">
                <div class="display-secondary display3">{{product.year}}</div>
                <div class="display3">JURTSCHITCH</div>
                <div class="display-secondary display3">{{product.name}}</div>
                <div class="display3">
                    {% autoescape false%}
                   {{ product.shortDescription|raw }}
                    {% endautoescape %}
                </div>
                
                   
                
                
            </div>




        </div>

        <div class="flex1 padding-20" style="background: white">

            <ul class="product-details-list" >
                <li><span class="property-name">ORIGIN</span><span>{{product.origin}}</span></li>
                {% if product.grapes %}
                <li><span class="property-name">GRAPES</span>{{product.grapes}}</li>
                {% endif %}
                {% if product.style %}
                <li><span class="property-name">STYLE</span>{{product.style}}</li>
                {% endif %}
                {% if product.food %}
                <li><span class="property-name">FOOD</span> {{ product.food}}</li>
                {% endif %}
                {% if product.size %}
                <li><span class="property-name">SIZE</span>{{ product.size}}cl</li>
                {% endif %}
                {% if product.closure %}
                <li><span class="property-name">CLOUSURE</span> {{product.closure}}</li>
                {% endif %}
                {% if product.avb %}
                <li><span class="property-name">AVB</span></li>
                {% endif %}
                {% if product.stock %}
                <li><span class="property-name">IN STOCK</span><span>{{product.stock}}</span></li>
                {% endif %}


            </ul>
            {{ include('components/add_product_form.html.twig')}}
           
        </div>

    </div>


{% endblock %}

