<div class="address-stage-panel vertical-flex-container"  ng-show="checkout_step == 1">
    <div class="vertical-flex-container" id="billing">
        <header>
            <div>


                <img src="{{ asset('images/checkout/billing-address-icon.png') }}" alt=""
                     style="width: 40px; height: auto">
            </div>
            <span class="flex-container" style="margin-right: 0px;">BILLING ADDRESS <button class="saved-address-btn">SELECT SAVED ADDRESS</button></span>
        </header>
        <div class="form-control-group">
            <label for="delivery-post-code">POST CODE</label>
            <div class="flex-container">


            <div class="flex-container align-middle ui-front" >

                <angucomplete-alt id="checkout-delivery-postcode"
                                  remote-api-handler="postcodeAutocomplete"
                                  placeholder="POSTCODE"
                                  pause="100"
                                  selected-object="basket.billing_address.postcode"
                                  minlength="1"
                                  remote-url-data-field="result"
                                  input-class="postcode-input"
                                  template-url="/postcode-field-template.html"
                                  remote-url-response-formatter="postcodeFormatter"
                />


            </div>

            <div class="margin-10"></div>
            <button class="btn btn-outline-primary lookup-btn" ng-click="lookupBillingAddress()" >POST CODE LOOKUP</button>

            </div>
            <ui-select ng-model="basket.billing_address.str"
                       search-enabled="false" enabled="billing_address_list.length"
            >
                <ui-select-match placeholder="SELECT AN ADDRESS FROM THE LIST">
                    [[$select.selected]]
                </ui-select-match>
                <ui-select-choices repeat="item in billing_address_list">
                    <span ng-bind="item"></span>
                </ui-select-choices>
            </ui-select>

            {#<select name="" id="" ng-model="basket.billing_address.str" ></select>#}

        </div>

        <div class="flex-container align-middle ba-checkbox">
            <input type="checkbox" id="delivery-same" ng-model="basket.delivery_same">
            <label for="delivery-same">DELIVERY SAME</label>
        </div>
        <div class="margin-10"></div>
    </div>


    <div class="vertical-flex-container" id="delivery" ng-hide="basket.delivery_same">
        <div class="dots-horz"></div>
        <div class="margin-10"></div>
        <header>
            <div>
                <img src="{{ asset('images/checkout/delivery-address-icon.png') }}" alt=""
                     style="width: 40px; height: auto">

            </div>


            <span style="display: flex; margin-right: 0px">DELIVERY ADDRESS<button
                class="saved-address-btn">SELECT SAVED ADDRESS</button></span>
        </header>
        <div class="form-control-group">
            <label for="delivery-post-code">POST CODE</label>
            <div class="flex-container">

                <div class="flex-container align-middle  ui-front">
                    <angucomplete-alt id="checkout-delivery-postcode"
                                      remote-api-handler="postcodeAutocomplete"
                                      placeholder="POSTCODE"
                                      pause="100"
                                      selected-object="basket.delivery_address.postcode"
                                      minlength="1"
                                      remote-url-data-field="result"
                                      input-class="postcode-input"
                                      template-url="/postcode-field-template.html"
                                      remote-url-response-formatter="postcodeFormatter"
                    />



                </div>

                <div class="margin-10"></div>
                <button class="btn btn-outline-primary lookup-btn" ng-click="lookupDeliveryAddress()">POST CODE LOOKUP</button>
            </div>

            <ui-select ng-model="basket.delivery_address.str"
                       search-enabled="false" enabled="delivery_address_list.length"
            >
                <ui-select-match placeholder="SELECT AN ADDRESS FROM THE LIST">
                    [[$select.selected]]
                </ui-select-match>
                <ui-select-choices repeat="item in delivery_address_list">
                    <span ng-bind="item"></span>
                </ui-select-choices>
            </ui-select>

        </div>


    </div>
    <div class="flex-container">
        <div class="flex-container align-middle ba-checkbox flex1">
            <input type="checkbox" id="gift" ng-model="basket.gift">
            <label for="gift">GIFT</label>
        </div>
        <div class="flex-container align-middle ba-checkbox flex1">
            <input type="checkbox" id="instructions">
            <label for="instructions">DELIVERY INSTRUCTIONS</label>
        </div>
    </div>
    <div class="margin-10"></div>
    <textarea name="" id="" cols="30" rows="10" placeholder="GIFT MESSAGE" class="padding-10" ng-show="basket.gift" ng-model="basket.gift_instructions"></textarea>
    <div class="margin-10"></div>
    <div ng-show="error" >
        <p class="alert alert-danger">Error: [[error_message]]</p>
        <span class="margin-10"></span>
    </div>

    <input type="submit" class="btn-secondary btn-med" value="CONTINUE" ng-click="NextStep()">
    <div class="margin-20"></div>
</div>

<script type="text/ng-template" id="/postcode-field-template.html">
    <div class="angucomplete-holder" ng-class="{'angucomplete-dropdown-visible': showDropdown}" style="position: relative">
        <div class="search-controls" style="position: relative">
            <input ng-model="searchStr"
                   ng-disabled="disableInput"
                   type="text"
                   placeholder="[[placeholder]]"
                   ng-focus="onFocusHandler()"
                   class="[[inputClass]]"
                   ng-focus="resetHideResults()"
                   ng-blur="hideResults($event)"
                   autocapitalize="on"
                   autocorrect="off"
                   autocomplete="off"

                   ng-change="inputChangeHandler(searchStr)"/>
            <img src="https://abs.twimg.com/a/1478848624/img/t1/spinner-rosetta-gray-32x32.gif" ng-show="searching"
                 style="width: 25px;height: 25px; position: absolute; right: 5px; top: 5px">

        </div>
        <div class="search-suggestions" id="search-results"
             ng-show="showDropdown && !searching"
             style=" background:white;position:absolute;top:100%; max-height: 160px; height: [[33*(1 + results.length)]]px;;overflow-y: scroll;left:0;right:0; border: 1px solid #bf9e56"
        >
            {%  verbatim %}
            <ul class="suggestion-list-dropdown" ng-show="showDropdown">

                <div class="angucomplete-searching" ng-show="!searching && (!results || results.length == 0)" style="font-size: 1.6rem">NOT FOUND</div>
            <li   ng-repeat="code in results" ng-click="selectResult(code.originalObject)" ng-mouseenter="hoverRow($index)"
                     ng-class="{'angucomplete-selected-row': $index == currentIndex,'angucomplete-row':true}"
                     style="height: 33px; font-size: 1.6rem"
            >
                     [[code.originalObject.title]]
            </li>


            </ul>

            {% endverbatim  %}
        </div>
    </div>
</script>
