<div class="payment-stage-panel vertical-flex-container"  ng-show="checkout_step == 2">
    <div>
        <img src="{{ asset('images/checkout/cards-icon.png') }}" alt="" class="
                        cards-icon">
    </div>
    <div class="vertical-flex-container" id="checkout-method-options">

        <div class="ba-radio">
            <input type="radio" name="payment_method" value="stripe" checked id="payment_stripe"
                   ng-model="basket.payment_method.code"
            >
            <label for="payment_stripe">CREDIT CARD (VISA, MASTERCARD) </label>
        </div>
        <div class="ba-radio">
            <input type="radio" name="payment_method" value="paypal" id="payment_paypal"
                   ng-model="basket.payment_method.code"
            >
            <label for="payment_paypal"> USE PAYPAL</label>
        </div>

    </div>





    <form  id="checkout-card-form"
           class="vertical-flex-container no-padding"
            ng-show="basket.payment_method.code == 'stripe'"
    >
        <div class="margin-10"></div>

        <div class="alert alert-danger payment-errors" style="display: none"></div>
        <div class="form-control-group">
            <label for="card-number">CARD NUMBER (the 16 digits in front of your card)</label>
            <input
                    type="text"
                    name="card_number"
                    id="card_number"
                    size="20"
                    data-stripe="number"
                    minlength="16"
                    maxlength="16"
                    required
                    ng-model="payment.card_number"
            >
        </div>
        <div class="flex-container">
            <div class="form-control-group flex1  ">
                <label for="">EXPIRATION DATE</label>
                <div class="flex-container align-middle">

                    <ui-select id="card_exp_month" ng-model="payment.card_exp_month" name="card_exp_month"
                               search-enabled="false" enabled="months.length" class="flex1" data-stripe="exp_month">

                        <ui-select-match placeholder="MONTH">
                            [[$select.selected]]
                        </ui-select-match>

                        <ui-select-choices repeat="item in months">
                            <span ng-bind="item"></span>
                        </ui-select-choices>

                    </ui-select>

                    <div class="margin-10">/</div>

                    <ui-select id="card_exp_year" ng-model="payment.card_exp_year" name="card_exp_year"
                               search-enabled="false" enabled="years.length" class="flex1" data-stripe="exp_year">

                        <ui-select-match placeholder="YEAR">
                            [[$select.selected]]
                        </ui-select-match>

                        <ui-select-choices repeat="item in years">
                            <span ng-bind="item"></span>
                        </ui-select-choices>

                    </ui-select>

                </div>
            </div>
            <div class="margin-10"></div>
            <div class="form-control-group">
                <label for="" style="text-align: right">CVV/CVC</label>
                <input type="text" size="4" data-stripe="cvc"
                       minlength="3"
                       maxlength="4"
                       required id="card_cvc"
                       name="card_cvc"
                       ng-model="payment.card_cvc"
                >
            </div>
        </div>
        <div class="form-control-group">
            <label for="cardholder">FULL NAME ON CARD</label>
            <input type="text" minlength="2" maxlength="100" required id="card_holder_name" name="card_holder_name"
            ng-model="payment.card_holder_name"
            >
        </div>
    </form>

    <hr>
    <!-- addresses preview -->
    <div class="vertical-flex-container">
        <div class="vertical-flex-container">
            <div class="flex-container">
                <div>
                    <img src="{{ asset('images/checkout/delivery-address-icon.png') }}" alt=""
                         style="width: 40px; height: auto">
                </div>
                <div class="margin-10"></div>
                <div class="vertical-flex-container flex1">
                    <div class="flex-container">
                        <div class="flex1" style="font-size: 15px; color: #bf9e56;margin-right: auto">
                            DELIVERY ADDRESS
                        </div>
                        <a href="">EDIT</a>
                    </div>
                    <div class="address-info" style="font-size:13px">
                        <p>[[basket.delivery_address.line1]]</p>
                        <p>[[basket.delivery_address.line2]]</p>
                        <p>[[basket.delivery_address.city]] - [[basket.delivery_address.postcode.title]]</p>
                    </div>


                </div>

            </div>

        </div>
        <div class="margin-10"></div>
        <div class="vertical-flex-container">
            <div class="flex-container">
                <div>
                    <img src="{{ asset('images/checkout/billing-address-icon.png') }}" alt=""
                         style="width: 40px; height: auto">
                </div>
                <div class="margin-10"></div>
                <div class="vertical-flex-container flex1">
                    <div class="flex-container">
                        <div class="flex1" style="font-size: 15px; color: #bf9e56;margin-right: auto">
                            BILLING ADDRESS
                        </div>
                        <a href="">EDIT</a>
                    </div>
                    <div class="address-info" style="font-size:13px">
                        <p>[[basket.billing_address.line1]]</p>
                        <p>[[basket.billing_address.line2]]</p>
                        <p>[[basket.billing_address.city]] - [[basket.billing_address.postcode.title]]</p>
                    </div>


                </div>

                </div>
        </div>

    </div>
    <form id="make-payment-form" action="{{ path('sonata_basket_final') }}" method="post">
        <input type="hidden" value="1" name="tac">
        {#terms and conditions is hidden#}
    </form>
    
    <a class="btn btn-secondary btn-med" id="final-checkout-btn" ng-click="CompleteTransaction()">COMPLETE TRANSACTION</a>
</div>