{% set section = "contact" %}
{% extends 'base.html.twig' %}

{% block content %}
    <div class="fluid-container contact-section">
        <div class="contact-form-container">
            <div class="title">CONTACT US</div>


            <div class="dots-horz"></div>
            <div class="margin-20"></div>
            <div class="alert alert-success">Your request was sent succesfully. We will reply within 24 hours.</div>

        </div>
        <div class="image-stack">

            <div class="images image1"></div>
            <div class="images image2"></div>
        </div>
    </div>
{% endblock %}