{% set section = "contact" %}
{% extends 'base.html.twig' %}

{% block content %}
    <div class="fluid-container contact-section">
        <div class="contact-form-container">
            <div class="title">CONTACT US</div>

         
            <div class="dots-horz"></div>


            {% render(controller('AppBundle:Contact:contactForm', {'wedding': wedding})) %}
            
        </div>
        <div class="image-stack">

            <div class="images image1"></div>
            <div class="images image2"></div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('bower_components/select2/dist/js/select2.min.js') }}"></script>
    <script type="application/javascript">
        $(document).ready(function(){

            $('select').select2(
            {minimumResultsForSearch: Infinity,
                    width:'100%'});


        });
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bower_components/select2/dist/css/select2.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/select2.ba.theme.css') }}">
{% endblock %}