<div class="product-box"> 


     <div class="flex-container" style="align-items:center"> 
        {#{% set link = url('sonata_product_view', {'slug': product.slug,'productId': product.id }) %}#}

        <a class="bottle-med"
                {#href="{{ link }}" #}
        > 

             {% if product.image %}
                <img src="{% path product.image, 'thumbnail' %}" alt="" class="img-responsive
          bottle-med">
            {% else %}
                <img src="{{ asset('images/bottle.png') }}" alt="" class="img-responsive">

            {% endif %}
        </a>
        
        <div class="flex1 margin-10 vertical-flex-container product-box--info">
            <div class="bottle-data">
                <div class="bottle-data-left">
                    <div class="bottle-type">{{ product.name }}</div>


                </div>


            </div>
             {{ include('components/add-product-small-form.html.twig') }} 
        </div>  
        
    </div> 


</div> <!-- product-box -->