{% set section = "about" %}
{% extends 'base.html.twig' %}


{%  block stylesheets %}
    {{ parent() }}
    <style>
        .site-content  {
            background: white;
        }
    </style>
{% endblock %}