{% extends 'default/about/about.html.twig' %}

{% block content %}
    <div class="container">
        <div class="title">THE BREW TESTAMENT</div>
        <div class="dots-horz"></div>
        <div id="history-section" class="fluid-container" style="margin: 20px 0">
            <div class="row">
                <div class="col-md-3 col-lg-3" id="about-nav">
                    <a href="{{ path('aboutpage',{'section':'abp'}) }}" class="nav-item">HISTORY </a>
                    <a href="{{ path('aboutpage',{'section': 'staff'}) }}" class="nav-item">STAFF</a>
                    <a href="{{ path('aboutpage',{'section': 'brew_testament'}) }}" class="nav-item active">THE BREW TESTAMENT </a>
                </div>
                <div class="col-md-6 col-lg-6 display3" >



                    <div>Tucked away behind Hackney’s Bottle Apostle, sits one of London’s best collections of craft beers and ciders. Established in August 2013, The Brew Testament proudly stocks London’s top artisan breweries as well as an expanding range of hard to find European craft beers, organic beers and outstanding ciders. With a focus on sourcing beer and ciders with character, The Brew Testament looks forward to quenching London’s developing thirst for distinctive brews while bringing together London’s beer community.</div>
                    <div class="margin-20"></div>
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <img src="{{ asset('images/about/brew_testament.png') }}" class="img img-responsive ">
                        </div>
                    </div>


                </div>
                <div class="col-md-3 col-lg-3 hidden-xs hidden-sm">
                    <img id="gallery-bigger" src="{{ asset('images/gallery1.jpeg') }}" alt="" class="gallery-bigger">

                    <div class="gallery-bigger">
                        <img src="{{ asset('images/gallery1.jpeg') }}" class="gallery-small margin-right-3-9" alt="">

                        <img src="{{ asset('images/gallery2.jpeg') }}" class="gallery-small margin-right-3-9" alt="">

                        <img src="{{ asset('images/gallery3.jpg') }}" class="gallery-small margin-right-3-9" alt="">

                        <img src="{{ asset('images/gallery4.jpg') }}" class="gallery-small" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}


    <script type="application/javascript" src="{{ asset('js/gallery.js') }}"></script>
{% endblock %}