{% extends 'default/about/about.html.twig' %}

{% block content %}
    <div class="container">
        <div class="title">ABOUT US</div>
        <div class="dots-horz"></div>
        <div id="history-section" class="fluid-container" style="margin: 20px 0">
            <div class="row">
            <div class="col-md-3 col-lg-3" id="about-nav">
                <a href="{{path('aboutpage',{'section':"history"})}}" class="nav-item active">HISTORY </a>
                <a href="{{ path('aboutpage',{'section': 'staff'}) }}" class="nav-item">STAFF</a>
                <a href="{{ path('aboutpage',{'section': 'brew_testament'}) }}" class="nav-item">THE BREW TESTAMENT </a>
            </div>
            <div class="col-md-6 col-lg-6 display3" >



                <div>We opened the first Bottle Apostle in July 2009 in <a class="links" href="{{path('locationpage')}}">Victoria Park</a> with the idea that a
                    wine shop could cater as much to the wine novice as it does to the seasoned tippler.
                    This approach to wine quickly spread leading to the opening of <a class="links" href="{{path('locationpage')}}">Crouch End</a> in 2012,
                    <a class="links" href="{{path('locationpage')}}">Clapham</a> in 2014, and both <a class="links" href="{{path('locationpage')}}">East Village</a> and  <a class="links" href="{{path('locationpage')}}">Primrose Hill</a> in 2015. All five locations
                    carry our belief that customers should be able to explore wine without intimidation.
                    At the same time we strive to offer much more than the often predictable
                    off-license or supermarket selections, by carrying a broad range of wines
                    at various price points and believe anyone should be able to buy a great
                    bottle at a competitive price, without compromising on flavour or quality.
                </div>

               <div> All the wines sold in our shops and <a class="links" href="{{path('productshome')}}">online</a> are colour-coded,
                   food matched and concisely described. We encourage visitors
                   to have an interactive experience in our shops by sampling
                   from a rotating selection of wines in our tasting machines
                   by registering for a Bottle Apostle tasting card. If you still
                   have trouble deciding, then our qualified winos are on hand to
                   share their knowledge - with none of the attitude.
               </div>
               <div> We’ve carefully selected our locations because of the thriving
                   communities that they exist in. With a view to reward our customers,
                   we offer Bottle Apostle loyalty cards which offer a discount of 15% after
                   you’ve collected 9 stamps. Who ever thought you would be rewarded for your wine drinking?
               </div>
                <div>For those who prefer a more in-depth wine experience, all our shops
                    offer regular wine tasting events and courses, supper clubs featuring
                    award-winning chefs and free tastings every Friday evening between 4-8pm
                    highlighting unique wines and new additions to our range.
                    These events are always friendly, in-formal and a great way to meet other wine lovers.
                </div>
                <div>
                Since opening in 2009, we’ve moved from strength to strength.
                    We were delighted when the Telegraph Magazine kindly named us “Britain’s Best Small Wine Shop”
                    in 2011 after only a short time of trading.
                    We were thrilled when we were awarded “Small Independent Merchant of the Year”
                    in 2012 by the International Wine Challenge, and completely humbled when we won “London Merchant of the Year”
                    in 2014. We closed off 2015 as Decanter Magazine’s “Large Independent Merchant of the Year” as well
                    as Harpers Magazine’s “Best Independent Merchant of the Year”. We hope you’ll take the opportunity
                    to pop into one of our shops and discover why.
                </div>
            </div>
            <div class="col-md-3 col-lg-3 hidden-xs hidden-sm">
                <img id="gallery-bigger" src="{{ asset('images/gallery1.jpeg') }}" alt="" class="gallery-bigger">

                <div class="gallery-bigger">
                    <img src="{{ asset('images/gallery1.jpeg') }}" class="gallery-small margin-right-3-9" alt="">
                    
                    <img src="{{ asset('images/gallery2.jpeg') }}" class="gallery-small margin-right-3-9" alt="">
                    
                    <img src="{{ asset('images/gallery3.jpg') }}" class="gallery-small margin-right-3-9" alt="">
                    
                    <img src="{{ asset('images/gallery4.jpg') }}" class="gallery-small" alt="">
                </div>
            </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}


    <script type="application/javascript" src="{{ asset('js/gallery.js') }}"></script>
{% endblock %}