{% extends 'default/about/about.html.twig' %}

{% block content %}
    <div class="container">
        <div class="title">ABOUT US</div>
        <div class="dots-horz"></div>
        <div class="fluid-container" style="margin-top: 10px">
            <div class="col-md-3 col-lg-3" id="about-nav">
                <a href="{{path('aboutpage',{'section':"history"})}}" class="nav-item">HISTORY </a>
                <a href="{{ path('aboutpage',{'section': 'staff'}) }}" class="nav-item active">STAFF</a>
                <a href="{{ path('aboutpage',{'section': 'brew_testament'}) }}" class="nav-item">THE BREW TESTAMENT </a>
            </div>
            <div class="col-md-9 col-lg-9">
               <ul class="staff-list">
                {% for member in staff %}
                   <li> 
                      <div>

                        
                         <img src="{% path member.picture, 'avatar'%}" alt="" class="profile-img">
                        
                       </div>
                       <div class="data">
                           <div class="name">
                               {{member.firstName}} {{member.lastName}}
                           </div>
                           <div class="display3">{{ member.description | raw }}</div>
                       </div>
                   </li>
                {% endfor %}
                  
               </ul>

            </div>

        </div>
    </div>

{% endblock %}