{% set section = "location" %}
{% extends 'base.html.twig' %}


{% block content %}



    

<form action="{{ url('sonata_basket_payment') }}" method="POST" >
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        <h4>{{ 'sonata.basket.title_address_billing_step_basket'|trans({}, 'SonataBasketBundle') }}</h4>

<a href="{{path('sonata_basket_final')}}">FINAL</a>
                    </div>
                </div>
                <div class="panel-body">
                    {{ sonata_address_render(basket.billingAddress) }}
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        <h4>{{ 'sonata.basket.title_payment_method'|trans({}, 'SonataBasketBundle') }}</h4>
                    </div>
                </div>
                <div class="panel-body">
                    {{ form_errors(form.paymentMethod) }}
                    {{ form_widget(form.paymentMethod) }}
                    {{ form_rest(form) }}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="well">
                <a href="{{ url('sonata_basket_payment_address') }}" class="btn btn-default"><i class="glyphicon glyphicon-arrow-left"></i>&nbsp;{% trans from 'SonataBasketBundle' %}sonata.basket.link_previous_step{% endtrans %}</a>

                <button type="submit" class="btn btn-primary pull-right">{{ 'sonata.basket.btn_update_payment_step'|trans({}, 'SonataBasketBundle') }}&nbsp;<i class="glyphicon glyphicon-arrow-right icon-white"></i></button>
            </div>
        </div>
    </div>
</form>

{% endblock %}



{# {% include 'SonataBasketBundle:Basket:stepper.html.twig' with {step: 'billing'} %}

<form action="{{ url('sonata_basket_payment') }}" method="POST" >
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        <h4>{{ 'sonata.basket.title_address_billing_step_basket'|trans({}, 'SonataBasketBundle') }}</h4>
                    </div>
                </div>
                <div class="panel-body">
                    {{ sonata_address_render(basket.billingAddress) }}
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        <h4>{{ 'sonata.basket.title_payment_method'|trans({}, 'SonataBasketBundle') }}</h4>
                    </div>
                </div>
                <div class="panel-body">
                    {{ form_errors(form.paymentMethod) }}
                    {{ form_widget(form.paymentMethod) }}
                    {{ form_rest(form) }}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="well">
                <a href="{{ url('sonata_basket_payment_address') }}" class="btn btn-default"><i class="glyphicon glyphicon-arrow-left"></i>&nbsp;{% trans from 'SonataBasketBundle' %}sonata.basket.link_previous_step{% endtrans %}</a>

                <button type="submit" class="btn btn-primary pull-right">{{ 'sonata.basket.btn_update_payment_step'|trans({}, 'SonataBasketBundle') }}&nbsp;<i class="glyphicon glyphicon-arrow-right icon-white"></i></button>
            </div>
        </div>
    </div>
</form>
 #}