
{% set section = "events" %}
{% extends 'base.html.twig' %}


{% block content %}
    <div class="events-section">
        <div class="toolbar">
            <div class="title">EVENTS  >  {{ event.title }}</div>
            <div class="tools">

                <div class="filter-group">

                    <a href="#0" class="paginator-link"> < PREVIOUS EVENT</a>
                </div>
                <div class="filter-group">

                    <a href="#0" class="paginator-link"> NEXT EVENT ></a>
                </div>
            </div>
            
        </div>
        <div class="dots-horz"></div>
        <div class="event-detail-section" style="min-height: 100vh">
            <div >
                <ul class="event-data">
                    <li> <span>WHERE: </span> {{ event.location }}</li>
                    <li><span>WHEN: </span>{{ event.fromDate | date('l  jS F  \\A\\T  g:iA') }}</li>
                    <li>
                        <span>PRICE: </span>
                        {%  if event.isFree %}
                        FREE EVENT
                        {% else %}
                            £ {{ event.price }}
                        {% endif %}
                    </li>
                </ul>
                {%  if event.tickets > 0 %}
                  <button class="btn-outline-primary ba-input">BOOK NOW</button>
                {% else %}
                    ALL SPOTS ARE FILLED
                {% endif %}

            </div>


        <div class="display3 event-description-section">
            {{ event.description }}
        </div>
        <div class="gallery">

            {% thumbnail event.image, 'big' %}
            <img src="" alt="" class="gallery-image">
            {#<ul class="galery-thumbnail">#}
               {##}
                {#{% for img in event.gallery.galleryHasMedias %}#}
                {#<li> {% thumbnail img.media, 'small' %}</li>#}
                {#{% endfor %}#}
                {##}
            {#</ul>#}
        </div>
    </div>

{% endblock %}


