
{% extends 'default/events/base.html.twig' %}

{% block content %}
    <div class="events-section">
    	<div class="toolbar">
        	<div class="title">EVENTS</div>
        	<div class="tools flex-container align-middle" ng-controller="FilterEventsCtrl">
				{# TODO: update this to match design  #}
                <div class="filter-group">
                    <label for="location">SORT BY</label>

					<ui-select id="location" name="location" ng-model="event.location" style="width: 100px;"
							   search-enabled="false" enabled="locations.length" class="flex1">

						<ui-select-match>
							[[$select.selected]]
						</ui-select-match>

						<ui-select-choices repeat="item in locations">
							<span ng-bind="item"></span>
						</ui-select-choices>

					</ui-select>

                </div>
                <div class="filter-group">
                    <label for="time">SORT BY</label>

					<ui-select id="time" name="time" ng-model="event.time" style="width: 100px;"
							   search-enabled="false" enabled="times.length" class="flex1">

						<ui-select-match>
							[[$select.selected]]
						</ui-select-match>

						<ui-select-choices repeat="item in times">
							<span ng-bind="item"></span>
						</ui-select-choices>

					</ui-select>

                </div>
        	</div>
        </div>
        <div class="dots-horz"></div>
        <div class="fluid-container events-container" style="margin-top: 10px">
			{%  for event in events %}
			<div class="event-card" data-id="{{ event.id }}">
                    <div class="card-top">
                         {% thumbnail event.image, 'cardtop' %}
                    </div>
                    <div class="card-bottom">
						<div class="event-tittle">
							{{ event.title }}
						</div>
						<div class="dots-horz"></div>
						<div class="event-footer">
							<div class="date-col">
								<h4>FROM:</h4>
								<p>{{ event.fromDate | date('g:i') }}</p>
							</div>
							<div class="date-col">
								<h4>TO:</h4>
								<p>{{ event.toDate | date('g:i')}}</p>
							</div>
							<div class="status-col">
								<h3>{{ event.tickets }}</h3>
								<div>
									<p>Tickets</p>
									<p>remaining</p>
									<a href="#0">Buy now</a>
								</div>
							</div>
						</div>

					</div>
                </div>

			{% endfor %}
       </div>
    </div>

{% endblock %}




{% block javascripts %}
	{{ parent() }}
	<script type="application/javascript">

		$(document).ready(function(){

			$('.event-card').click(function(){
				var id = $(this).data('id');
				window.location.replace('/events/show/' + id);
			});
		});
	</script>
{% endblock %}