{% set section = "home" %}
{% extends 'base.html.twig' %}
{% block content %}
    <div class="container " style="min-height: 400px">
        <div class="row">
        <div class="col-md-4 col-md-offset-4">
            
            
            <div class="form-card margin-20 ">
                <div class="header">
                    Reset your password
                </div>
                
                <form action="{{ path('sonata_user_resetting_send_email') }}" method="POST"  >  
                    <div class="margin-10"></div>
                    {% if invalid_username is defined %}
                        <div class="alert alert-danger">{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}, 'FOSUserBundle') }}</div>
                    {% endif %}
                    
                    <input type="text" id="username" name="username" required="required" placeholder="Enter your email address" />
                    <div class="margin-10"></div>
                    
                    
                    <input type="submit" value="{{ 'resetting.request.submit'|trans({}, 'FOSUserBundle') }}" class="btn btn-primary" />
                    
                    
                </form>
            </div>
        </div>
        </div>
    </div>
{% endblock %}
{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="{{asset('css/form.css')}}">
{% endblock %}