
@import "fonts.css";
body{

    height: 100%;


    color: #bf9e56;
    font-family: "Brandon Grotesque",Sans-Serif;
    font-weight: lighter;
}
#page-404{

    background: url('../images/ba-cream-pattern.png');
    background-size: 70px 70px;
}
#page-500{

    background: url('../images/ba-blue-pattern.png');
    background-size: 70px 70px;

}

#broken-bottle{

    max-width : 100px;
    width: 100%;
    height: auto;
}

h1,h2,h3,h4{
    font-weight: lighter;

}
p {
    color: black;
    margin-top: 2px;
    margin-bottom: 2px;
}
#page-500 p{
    color: white;
    font-size: 18px;
    text-align: center;
}