@import "fonts.css";
@import "cart.css";

html,body{
    height: 100%;
    margin: 0px;
    background:  #e0e0e0;
    font-size: 10px;
    // min-width: 1300px;

    font-family: "Brandon", sans-serif;
    font-weight: lighter;

}

p{

    margin: 2px 0px;
}

a:focus{
    outline: none;
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus{
    outline: none;
}



input, input:active {
    outline: none;
    box-sizing: border-box;
    height: 35px;
    padding: 0 4px;
    font-size: 1.6rem;
    border: none;

}

textarea, select {
    font-size: 1.6rem;
}

textarea, textarea:active {
    resize: vertical;
    outline: none;
}


.site-header{

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 180px;
    min-height: 180px;
    background: red;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: end;
        align-items: flex-end;
    -ms-flex-pack: justify;
        justify-content: space-between;
    background: url('../images/ba-blue-pattern.png');
    background-size: 40px auto;
    // min-width: 1300px;
    z-index: 99999;
}


ul.site-nav{
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    text-decoration: none;
    list-style: none;
    color: white;
    -ms-flex-positive: 1;
        flex-grow: 1;
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    margin-bottom: 0px;
    -ms-flex-align: end;
        align-items: flex-end;
}

ul.site-nav>li{
    position: relative;
    margin:  0 10px;
    padding: 0 10px;
    font-size: 2.0rem;

    min-width: 100px;
    text-align: center;
    border-bottom: 4px solid transparent ;
}

.site-nav a,
.site-nav a:visited,
.site-nav a:hover{
    text-decoration: none;
    color: white;
}

.site-nav li:hover, .site-nav li.active {

    border-bottom: 4px solid #bf9e56 ;
}

.site-nav-left{
    -ms-flex-pack: end;
        justify-content: flex-end;
}
.site-nav-right {

    -ms-flex-pack: start;

        justify-content: flex-start;
}

#site-logo{
    margin-bottom: 10px;
    background: no-repeat bottom url('../images/logo.png');
    width: 90px;
    min-width: 90px !important;
    background-size: contain;
    height: 125px;
}

.site-nav .cart-section{
    background: #bf9e56;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: end;
        align-items: flex-end;
    padding-top: 10px;
    width: 271px;
    min-width: 271px;
    padding-left: 10px;
    padding-right: 10px;


}
#cart-btn{
    text-transform: uppercase;
    min-width: 150px;
}
#connect-btn, #user-btn, #logout-btn{
    font-size: 1rem;
    text-transform: uppercase;
    color: black;
}



.site-content{


    padding-top: 180px;
    min-height: 500px;

    /* set position relative so we can stick footer to bottom*/
    position: relative;
}

.slide  {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
    padding: 30px 0 ;
    -ms-flex-pack: start;
        justify-content: flex-start;
    background: #00b3ee;
    min-height: 900px;
    position: relative;
}

.slide-down{
    z-index: 1000;
    min-width: 90px;
    min-height: 30px;
    
    display: block;
    background: center url('../images/chebron_down_white.png');
    background-repeat: no-repeat;
    position: absolute;
    bottom: 20px;
    left: calc(50% - 45px);
}
.slide-up{
    z-index: 1000;
    background: center url('../images/chebron_down_white.png');
    background-repeat: no-repeat; /* IE 9 */ /* Chrome, Safari, Opera */
    transform: rotate(180deg);
    min-width: 90px;
    min-height: 30px;
    left: calc(50% - 45px);
    display: block;
    
    position: absolute;
    top: 20px;
}
.cream-bg{

    background: url('../images/ba-cream-pattern.png');
    background-size: 60px;
}




.ba-input,
.ba-input:active{
    height: 40px;
    border: none;
    font-size: 1.6rem;
    color: black;
    box-sizing: border-box;
    padding: 0 10px;
    width: 100%;
}

.ba-input:focus {
    outline: none;
}
button{

    outline: none;
}
.display-white{
    color: white;
    text-align: center;
    font-size: 5.4rem;
    font-weight: lighter;

}



.display{
    color: white;
    text-align: center;

}

.display2 {

    font-size: 2.4rem;
}
.display3{
    font-size: 1.8rem;
}

.display-primary{
    color: #bf9e56 !important;
    text-transform: uppercase;
    font-weight: lighter;


}

.display-secondary{
    color: #004454;
    text-transform: uppercase;
}



h2.display{
    font-size: 3.6rem;
}

.ba-dropdown{
    width: 100%;
    border-radius: 0;
    min-width: 200px;
    background: #2e2926;
    padding: 20px;
}

.ba-dropdown .menu-item,
.ba-dropdown .menu-item:visited{
    color: #bab19d;
    font-size: 1.6rem;
    text-align: left;
    text-transform: uppercase;
    padding: 4px 6px;
    display: block;

}
.ba-dropdown .menu-item:after{
    content: "";
    min-height: 2px;

    display: block;

}
.ba-dropdown .menu-item:hover{
    color: white;
}
.ba-dropdown .menu-item:hover::after{
    background: url('../images/dots-horz.png');
    height: 2px;
    min-height: 2px;
    width: 100%;
    background-size: auto 2px;
    background-repeat: repeat-x;
    display: block;
    content:""
}
.outline{
    background:  #004454;
    height: 2px;
    min-height: 2px;
    width:473px;
}

.main-search-section{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    
    position: relative;

}
.main-search-section .search-controls{
    display: -ms-flexbox;
    display: flex;

}
.main-search-section .search-suggestions{
    width: calc(100% - 2px);

    background: white;
    position: absolute;
    top: 40px;
    -ms-flex-align: center;
        -ms-grid-row-align: center;
        align-items: center;
    margin: 0 1px;
    /*display: none;*/
}


.suggestion-list-dropdown{
    padding: 0;
    -moz-padding-start: 0;
    -webkit-padding-start: 0;
    list-style: none;
    position: inherit !important;
    font-family: "Brandon Grotesque", Sans-Serif;
    font-size: inherit;
    width: 100% !important;
    left: 0!important;;
    background: white;
}

.suggestion-list-dropdown .suggestion-row{
    height: 82px;
    display: -ms-flexbox !important;
    display: flex !important;

    padding: 10px;

    -ms-flex-align: center;
        align-items: center;
}
.suggestion-list-dropdown .suggestion-row .ui-menu-item-wrapper{

    padding: 0;

}
.suggestion-list-dropdown .suggestion-row .ui-state-active{
    background: inherit;
    border: none;
    font-weight: lighter;
    margin: 0;

}




.suggestion-list-dropdown .suggestion-row:last-child .dots-horz{
    display: none;
}



.suggestion-list-dropdown .suggestion-row .bottle-thumb {
    max-width: 37px;
    max-height: 75px;
    width: auto;
    height: auto;
    margin-right: 10px !important;

}

.suggestion-list-dropdown .suggestion-row>div:first-child{
    width: 37px;

}

.bottle-med{

    height: 160px;
    max-width: 60px;
    margin: 0;
    object-fit: cover;
    overflow: hidden;
}
.bottle-med img{

    height: 160px;

    
}



.main-search-section input[type="text"]{
    max-width: 400px;
    width:100%;
    border: 1px solid #bf9e56;
}
.main-search-section .search-btn{
    width: 40px;
    min-width: 40px;
    min-height: 40px;
    max-height: 40px;
    height: 40px;
    background: white;
    border: none;
    box-sizing: border-box;
    padding: 3px 2px;
    border: 1px solid #bf9e56;
    border-left: none;
    font-size: 18px;
    color: #bf9e56;

}
.search-btn img{

    width: auto;
    height: 30px;
}

.slide1{
    background:no-repeat center url('../images/slide1-back.jpg');
    background-size: cover;

}

.slide2{

    background:no-repeat center url('../images/elite-back.jpg');
    background-size: cover;
}
.slide3{

    padding: 0;
    background: #f5edec;
    
}

.bottle-data{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: justify;
        justify-content: space-between;
    text-transform: uppercase;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-positive: 1;
        flex-grow: 1;
    padding: 4px;
}

.bottle-data .small{
    font-size: 0.5em;

}
.bottle-data .bottle-year{
    font-size: 1.7rem;
    color: #004454;
}
.bottle-data .bottle-name{
    color: #575757;
    font-size: 1.6rem;
}
.bottle-data .bottle-category{
    color: #575757;
    font-size: 1.2rem;

}
.bottle-data .bottle-type{
    color: black;
    font-size: 1.0rem;
}
.bottle-data .bottle-region{
    font-size: 14px;
    color: #004454;
}



.bottle-price{
    font-size: 1.2rem;
    color: #575757;
   -ms-flex-positive: 1;
       flex-grow: 1;
    text-align: right;
}
.bottle-price .price-tag{
    color:#004454 ;
    font-size: 18px;
}
.dots-horz{
    background: url('../images/dots-horz.png');
    height: 2px;
    min-height: 2px;
    width: 100%;
    background-size: auto 2px;
    background-repeat: repeat-x;
}
.dots-horz-small{
    background: url('../images/dots-horz.png');
    height: 1px;
    min-height: 1px;
    width: 100%;
    background-size: auto 1px;
    background-repeat: repeat-x;
}


.vertical-container{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column ;
        flex-direction: column ;
    -ms-flex-positive: 1;
        flex-grow: 1;
}

.search-suggestions .down-btn{
    background: no-repeat center url('../images/chebron_down.png');
    height: 20px;
    border: none;
    outline: none;
    background-size: contain;
    width: 100%;
    margin: 10px;

}

.cards-section{
    margin: 20px ;
}

.card-container{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
}
.card-container .card-icon {
    width: 120px;
    height: 120px;
    background: url('../images/ba-blue-pattern.png');
    background-size: 60px auto;
    border-radius: 60px;
    display:flex;
    justify-content:center;
    align-items: center;
    color: white;
    font-size: 42px;
}
.card-container .card-icon.card-icon-gold{

    background: url('../images/ba-gold-pattern.png');
    background-size: 60px auto;
}


.card-title{
    margin: 30px;
    color: white;
    text-align: center;
    font-size: 20px;
}

.gold-btn{

    color: white;
    background:#bf9e56 ;
    padding: 4px 160px;
    border: none;
    outline: none;
    height: 40px;
    text-transform: uppercase;
    font-size: 2.1rem;
    font-weight: 200;

}

.title{
    color: #004454;
    font-size: 2.2rem;
    text-transform: uppercase;
    margin: 5px;
}

#about-nav{
    margin: 0;
    padding: 0;
}

#about-nav .nav-item{
    color: #bf9e56;
    font-size: 2.0rem;
    width: 100%;
    padding: 4px 10px;
    margin: 0;
    display: block;
    text-decoration: none;
}
#about-nav .nav-item:hover, #about-nav .nav-item.active{
    color: white;
    background: #bf9e56 ;
    text-decoration: none;

}

.connect-section {
    margin: 0 auto;
    background: url('../images/ba-cream-pattern.png');
    background-size: 50px auto;
    display: -ms-flexbox;
    display: flex;
}

 .form-card {

    min-width: 386px;
    background: #bab19d;
}

.form-card .header {
    display: -ms-flexbox;
    display: flex;
    height: 82px;
    background: #f3edec;
    color: #bab19d;
    font-size: 2.9rem;
    padding: 10px;
    -ms-flex-align: center;
        align-items: center;
}

 form {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    padding: 10px;


}

.form-card form input {
    outline: none;
    height: 35px;
    box-sizing: border-box;
    border: 1px solid white;
    margin: 5px 0;
    font-size: 1.6rem;
    padding-left: 4px;
    color: black;
    padding-right: 4px;
}

.form-card form input[type="submit"],
.form-card form input[type="submit"]:active,
.form-card form input[type="submit"]:focus{

    background: transparent;
    color: white;
    text-transform: uppercase;
    outline: none;
    border: 1px solid white;

}
.form-card form input[type="submit"]:hover,
.form-card form input[type="submit"]:focus {

    background: #bf9e56 ;
    border: 1px solid #bf9e56;
}



.center-vertical {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;

}

.connect-section {
    padding: 40px;

}

.page-footer {

    /*position: absolute;*/



}

.page-footer .footer-top {
    background: url("../images/ba-black-pattern.png");
    height: 340px;
    background-size: 30px auto;
    min-height: 340px;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    padding: 20px 50px;
    -ms-flex-pack: start;
        justify-content: flex-start;
}

.page-footer .footer-top .logo img {
    width: 125px;
    height: auto;
}

.page-footer .footer-top .section-list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: start;
        align-items: flex-start;
    margin: 0px 50px;
}

.page-footer .footer-top .section-list a {
    color: white;
    font-size: 2.0rem;
    padding: 4px 10px;
}

.page-footer .footer-top .feed .header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-align: center;
        align-items: center;
}

.page-footer .footer-top .feed {
    -ms-flex-positive: 1;
        flex-grow: 1;
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: start;
        align-items: flex-start;
    -ms-flex-pack: start;
        justify-content: flex-start;
    margin: 30px;
    -ms-flex-item-align: start;
        align-self: flex-start;
}

.page-footer .footer-top .feed .header img {
    width: 40px;
    height: auto;
}

.page-footer .footer-top .feed .header .display {
    font-size: 2.0rem;
    color: #bf9e56;
    padding: 0 10px;

}

.page-footer .footer-bottom {
    height: 60px;
    min-height: 60px;
    width: 100%;
    background: #bf9e56;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
}

.page-footer .footer-bottom .copyright {
    color: white;
    font-weight: lighter;
    text-align: center;
    font-size: 1.5rem;
    width: 100%;
    padding: 4px 0;
}

.tweet-list {
    margin: 10px auto;
}

.tweet {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
}

.tweet .header {
    width: 100%;
    -ms-flex-pack: justify;
        justify-content: space-between;
}

.tweet .content {

    display: -ms-flexbox;
    width: 100%;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: justify;
        justify-content: space-between;
    margin-left: 10px;
}

.tweet .title {
    color: white;
    font-size: 1.4rem;
    font-weight: normal;
    text-transform: none;
}

.tweet .account-avatar {
    width: 40px;
    height: 40px;
    margin: 4px;
}

.tweet .age {
    font-size: 1.4rem;
    font-weight: lighter;
    color: #bab19d;
}

.twitter-feed .tweet-list .tweet-header {

}

.tweet .message {
    color: white;
    font-size: 1.4rem;
    line-height: 15px;
}

.instagram-feed {
    max-width: 250px;
}

.instagram-feed .header {
    margin-left: 10px;
}

.instagram-post-list {
    margin-top: 10px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.instagram-post-list .insta-post {
    margin: 5px;
    width: 60px;
    height: 60px;
    min-height: 60px;
    min-width: 60px;
    background: red;
    cursor: pointer;
}

.instagram-post-list .insta-post img{
    max-width: 60px;
    max-height: 60px;
    width: auto;

}




.contact-section {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    min-height: 400px;
    background: white;

}

.contact-section .contact-form-container {
    margin: 10px 50px;
    -ms-flex-positive: 1;
        flex-grow: 1;
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
}

.contact-section .image-stack {
    -ms-flex-positive: 1;
        flex-grow: 1;
    -ms-flex-preferred-size: 0;
        flex-basis: 0;

    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    min-height: 500px;
}

.contact-section .image-stack .images {
    width: 100%;
    -ms-flex-positive: 1;
        flex-grow: 1;
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    background-size: cover !important;

}

.contact-section .image-stack .images.image1 {

    background: no-repeat center url("../images/wedding/slide_2A_background_top.jpg");

}

.contact-section .image-stack .images.image2 {

    background: no-repeat center url("../images/wedding/slide_2A_background_bottom.jpg");
}

.contact-form form {
    margin-top: 20px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;

}

.contact-form form select,
.contact-form form input,
.contact-form form textarea {
    margin: 10px 0;
    background: transparent;

}

.contact-form form input,
.contact-form form select {
    border: none;
    border-bottom: 1px solid #e4dfd4;

}

.contact-form form textarea {
    min-height: 200px;
    padding: 4px;

}

 /*.contact-form form button[type="submit"] {*/
    /*background: transparent;*/
     /*border: 1px solid #e4dfd4;*/
     /*width: 170px;*/
     /*height: 40px;*/
     /*-ms-flex-item-align: end;*/
         /*align-self: flex-end;*/
     /*font-size: 1.8rem;*/
     /*color: #bf9e56;*/
 /*}*/

.crate {
    height: 90px;
    min-height: 60px;
    max-height: 60px;
    width: 120px;
    min-width: 120px;
    background: cadetblue;
    margin: 4px;
}

.social-buttons-section{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    max-width: 200px;
    width: 100%;
    -ms-flex-align: center;
        align-items: center;
    margin: 10px auto;
}

.social-buttons-section .search-btn img{
    width: 48px;
    height: 48px;
}
.login-separator{
    font-size: 1.8rem;
    text-align: center;
    margin: 60px auto;
    margin-bottom: 20px;
}

.connect-section a.terms,
.connect-section a.terms:hover,
.connect-section a.terms:visited{
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    margin: 4px 0;
}
.ba-checkbox {

    
    position: relative;
}
.ba-checkbox input[type="checkbox"]{

    display: none;
}

.ba-radio input[type="radio"]{
    display: none;
}
.ba-radio label{
    position: relative;
    display: flex;
    align-items: center;
}

.ba-radio label:before{

    display: inline-block;
    width: 28px;
    min-width: 28px;
    min-height: 28px;
    height: 28px;
    background: white;
    content: "";
    margin-right: 20px;
// margin-top: -5px;
    border: 1px solid #bf9e56;
}

 input[type=radio]:checked ~ label:before{

    display: inline-block;
    width: 28px;
    min-width: 28px;
    min-height: 28px;
    height: 28px;
     background: center url('../images/checkbox-checked.png');
     background-size: 20px auto;
     background-repeat: no-repeat;
    content: "";
    margin-right: 20px;

    border: 1px solid #bf9e56;
}



.ba-checkbox label{
    margin-top: 4px;
    font-size: 1.6rem;
    color:white;
    /*display: flex;*/
    display: inline-flex;
    -ms-flex-align: center;
        -ms-grid-row-align: center;
        align-items: center;
    cursor: pointer;
    padding-left: 35px;
    margin-top: 10px;
}
.ba-checkbox label:before{
    display: inline-block;
    width: 28px;
    min-width: 28px;
    min-height: 28px;
    height: 28px;
    background: white;
    content: "";
    margin-right: 20px;
    position: absolute;
    left: 0;
    // margin-top: -5px;
    border: 1px solid #bf9e56;
}
input[type=checkbox]:checked + label:before {
    content: "";
    background: center url('../images/checkbox-checked.png');
    background-size: 20px auto;
    background-repeat: no-repeat;
    padding-bottom: 10px;
    border: 1px solid #bf9e56;
}

#connect-header-section{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: end;
        align-items: flex-end;
    min-height: 29px;
    margin-left: 10px;
    -ms-flex-pack: center;
    justify-content: center;

}
#connect-dropdown{
    position: absolute;
    top: 100%;
    right: 0;
    left:0;
    margin: 0 auto;
    display: none;
    max-width: 900px;
}

.toolbar{

    display: -ms-flexbox;

    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-align: center;
        align-items: center;
    margin: 10px 0;
}
.toolbar .tools{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: end;
        justify-content: flex-end;
}

.filter-group{
    padding: 0 10px;
}
.filter-group label{
    margin: 0 10px;
}
.filter-group select{

    min-width: 120px;
    
}
.filter-group select>option{

    min-height: 40px;
    background: white;
    color: black;
}
.filter-group select>option:hover{

    min-height: 40px;
    background: red;
    color: black;
}

.event-card{

    min-height: 250px;
    min-width: 250px;
    margin: 20px;
    max-width: 200px;
    box-shadow:  0 18px 18px  rgba(1,1,1,0.2);
    display: block;
    cursor: pointer;
}
.event-card .card-top{

    min-height: 160px;
    background: url("../images/ba-cream-pattern.png");
    background-size: 42px auto;
}

.card-bottom{
    padding: 10px;
    background: white;
}
.event-card .event-tittle{
    font-size: 2.0rem;
    color: black ;
    text-transform: uppercase;
}
.event-card .event-footer{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-align: end;
        align-items: flex-end;
}

.event-card .event-footer .date-col h4{
    font-size: 1.2rem;
    margin: 0;
}
.event-card .event-footer .date-col p{
    font-size: 2.0rem;
    color: #bf9e56;
}

.event-card .event-footer .status-col {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;

}
.event-card .event-footer .status-col h3{
    font-size: 5.3rem;
     color: #bf9e56;
    padding: 0 5px;
    margin: 0;
}
.event-card .event-footer p, .event-card .event-footer a{
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

.event-card .event-footer a,
.event-card .event-footer a:hover{
    text-decoration: none;
    color: #bf9e56;

}

.events-container{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: center;
        justify-content: center;


}
.events-section{
    margin: 0 20px;
}

#products-menu{
    position: inherit;
}
#products-dropdown{

    min-width: 1000px;
    left: 0;
    margin-top: 0;
    min-height: 450px;
    display: none;
    -ms-flex-direction: row;
        flex-direction: row;
    padding: 0;

}

#products-dropdown .navigator{
    min-width: 300px;
    margin: 20px;

}
#products-dropdown .content{
    background: white;
    -ms-flex-positive: 1;
        flex-grow: 1;
    -ms-flex-preferred-size: 0;
        flex-basis: 0;

}

ul.products-list{
    list-style: none;
    margin: 0;
    padding: 0;
    // margin: 10px;

}
ul.products-list li{
    margin: 20px 0;
}
#products-dropdown .navigator .products-search{

    display: -ms-flexbox;

    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    margin: 30px 10px;
}

#products-dropdown .navigator .products-search input[type="text"]{
    background: transparent;
    border: 1px solid #bf9e56;
    width: 100%;

}
#products-dropdown .navigator .search-btn{

    width: 40px;
    background: #bf9e56;

}


#products-dropdown .content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
}
#products-dropdown .content .products-grid{
    margin: 10px;

}

#products-dropdown .content .products-grid{

    -ms-flex-preferred-size: 0;

        flex-basis: 0;
    -ms-flex-positive: 1;
        flex-grow: 1;
}

.products-grid .product-container {
    margin: 10px;
    max-width: 130px;
    color: black;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction:column;
        flex-direction:column;

}

.products-grid .product-container .top{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    margin-bottom: 10px;
}


#products-dropdown .content .offers{
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    -ms-flex-positive: 1;
        flex-grow: 1;
    height: 350px;
    margin: 10px;

}



.btn, .btn-medium,
.btn-medium:active{

    height: 30px;
    box-sizing: border-box;
    font-weight: lighter;
    font-size: 15px;
    width: 100%;
    margin: 10px 0;
    border-radius: 0;
    text-decoration: none;
    line-height: 25px;
}

.btn:hover,
 .btn:visited,
 .btn-small,
 .btn-small:hover,
 .btn-small:visited,
 .btn-small:focus,
 .btn-small:active{

 text-decoration: none; 

}


.btn-small,
.btn-small:active{
    height: 15px;
    display: inline-block;
    box-sizing: border-box;
    font-size: 0.8rem;
    font-weight: bold;
}


.btn-outline-primary,
.btn-outline-primary:visited{

    border: none;
    border: 1px solid #bf9e56;
    background: transparent;
    color: #bf9e56;

    text-transform: uppercase;
    padding: 2px 5px;
    
}

.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary:active{
    outline: none;
    background: #bf9e56;
    color: white;
}


.btn-outline-secondary{
    border: none;
    border: 1px solid #004454;
    background: transparent;
    color: #004454;

    text-transform: uppercase;
    padding: 2px 5px;
}

.btn-primary{
    border: none;
    background: #bab19d;
    color: white;
    text-transform: uppercase;
    padding: 2px 5px;
    width: 100%;
    text-align: center;
}

.btn-primary:hover{
    background: #bf9e56;

}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:visited,
.btn-secondary:focus
{
    border: none;
    border: 1px solid #004454;
    background: #004454;
    color: white;
    text-transform: uppercase;
    padding: 2px 5px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    outline:none;
}

.btn-secondary:hover{
    cursor: pointer;
}


.btn-primary:hover,
.btn-primary:visited,
.btn-primary:focus{
    text-decoration: none;
    outline: none;
    cursor: pointer;
}



.products-grid{

    min-width: 650px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;

        // justify-content:space-around;
}
.products-grid .grid-item{
    margin-left: 0px;
    margin-right: 0px;
    /*// min-width: 300px;*/
     /*// max-width: 600px;*/
    /*flex: 50%;*/
    /*margin-left: 10px;*/
    padding-right: 10px;
    padding-left: 10px;
    /*max-width: 48%;*/

}
@media (max-width: 1024px) {
    .products-grid .grid-item{
        max-width:100%;
    }

}

.products-grid .grid-item .product-box{
    // width: 272px;
    height: 220px;
}

.product-box .product-box--info{
    height: 200px;
    display: flex;
    flex-direction: column;
}


@media (max-width:1350px) {
   
   .products-grid .grid-item{
    
        width: 100%;
        max-width: 1000px;

    }     
}


.grid-item .grid-top {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: baseline;
        align-items: baseline;
    -ms-flex-pack: justify;
        justify-content: space-between;

}
.grid-item .grid-bottom {
    
    -ms-flex-align: baseline;
    

    
    align-items: baseline;
    display: -ms-flexbox !important;
    display: flex !important;
    // max-height: 300px;
}
.product-container .count{
    border: 1px solid #bf9e56;
    color: #004454;
    padding: 0 8px;
    margin: 0;
    max-height: 15px;
    box-sizing: border-box;
    font-size: 1.0rem;

}

.segment-btn {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
}
.segment-btn button{
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    -ms-flex-positive: 1;
        flex-grow: 1;

}


#products-dropdown .offers .content{
    height: 100%;
    margin: 10px;
}

.paginator-link,
.paginator-link:hover, 
.paginator-link:visited,
.paginator-link:focus
 {
    font-size: 18px;
    color: #bf9e56;
    text-decoration: none;
    outline: none;
}

.event-detail-section {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    margin: 10px;
}
.event-detail-section > div{
    margin: 10px;
}
ul.event-data{
    min-width: 220px;
  list-style: none;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

ul.event-data li{
    margin: 10px 0;

    font-size: 1.4rem;
    padding: 5px;
    color: #004454;

}
ul.event-data li>span{
    color: #bf9e56;
}
ul.event-data li:after{
    margin-top: 4px;
    display: block;
    background: url('../images/dots-horz.png');
    height: 2px;
    min-height: 2px;
    width: 100%;
    background-size: auto 2px;
    background-repeat: repeat-x;
    content : "";

}


.gallery{
    min-width: 400px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
}
.gallery-image{
    min-width: 400px;
    min-height: 200px;
    background: #cccccc;
    margin: 10px;
}
.galery-thumbnail{
    list-style: none;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
}
.galery-thumbnail > li{
    min-width: 90px;
    min-height: 50px;
    background: #cccccc;
    margin: 5px;
}

.gallery-bigger {
    width: 100%;
    margin-top: 20px;
    text-align: center;
}

.gallery-small {
    width: 21%;
}

.gallery-small:hover {
    cursor: pointer;
}

.percent4 {
    width: 3.9%;
}

.margin-right-3-9 {
    margin-right: 3.9%;
}

.event-description-section{
    -ms-flex-positive: 1;
        flex-grow: 1;
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
}

.staff-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.staff-list li{
    margin: 10px;
    
}
.staff-list li {
    display: -ms-flexbox;
    display: flex;
}
.staff-list li .profile-img{
    margin: 10px;
    height: 100px;
    min-width: 100px;
    min-height: 100px;
    background: #cccccc;
}
.staff-list li .data{
    margin-top: 10px;
}

.staff-list li .data .name{
    font-size: 1.8rem;
        color: #bf9e56;
    font-weight: bold;
}

.product-container{
    display: -ms-flexbox;
    display: flex;
}

.product-container .overview{
    display: -ms-flexbox;
    display: flex;

}
.product-container .overview> div{
    -ms-flex-positive: 1;
        flex-grow: 1;
    -ms-flex-preferred-size: 0;
        flex-basis: 0;

}

.product-container .overview .data{

    margin: 20px;
}

.img-big{

    object-fit: cover;
    height: 100%;
    width: 100%;
}
.product-container .details{
    background: white;
    padding:60px;
}
.product-details-list{
    border-top: 1px solid #bf9e56;
    list-style: none;
    margin: 0;
    padding: 0;
    max-width: 400px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.product-details-list li{

    margin: 10px 0;
    padding: 0 10px;
    border-bottom: 1px solid #bf9e56;
    font-size: 16px;

}
.product-details-list li .property-name{
    min-width: 200px;
    display: inline-block;
}

.shopping-section{
    margin: 20px 0;
    display: -ms-flexbox;
    display: flex;
}

.crates{
    margin-right: 20px;
    min-width: 100px;
}
.shopping-section .inputs{


}

.crates-container{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    // max-width: 150px;
    width: 150px;
}

.crates-container .crate{
    display: inline-block;
    min-width: 60px;
    max-width: 60px;
    min-height: 128px;
    border: 1px solid #004454;
    border-radius: 5px;
    background: transparent;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: justify;
        justify-content: space-between;
    padding: 2px;
}

.qty-input-control{

    display: -ms-flexbox;

    display: flex;
    -ms-flex-align: center;
        align-items: center;

}
.round-outlined-button{

    width: 20px;
    height: 20px;
    background: transparent;
    border: 1px solid #bf9e56;
    border-radius: 10px;
    color: #bf9e56;

    font-weight: bold;
}
.qty-input-control .count{
    min-height: 20px;
    width: 20px;
    min-width: 20px;
    max-width: 40px;
    margin: 0 2px !important;
    font-size: 14px;
    color: black;
    border: 1px solid #bf9e56;
    text-align: center;
    max-height: 20px;
}

.qty-input-control .count::-webkit-inner-spin-button,
.qty-input-control .count::-webkit-outer-spin-button{
     -webkit-appearance: none; 
     margin: 0;
}
input[type=number] {
    -moz-appearance:textfield;
}




.flex-container{
    display: -ms-flexbox !important;
    display: flex !important;
    flex-direction: row;
}
.flex-container.align-center{
    justify-content: center;
}
.flex-container.align-middle{
    align-items: center;
}


.flex-container .flex1{
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    -ms-flex-positive: 1;
        flex-grow: 1;

}

.align-middle{
    align-items: center;
}

.flex-container .flex2{
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    -ms-flex-positive: 2;
        flex-grow: 2;
}
.vertical-flex-container{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
}

.vertical-flex-container.align-middle{
    justify-content: center;
}


.margin-5{
    margin: 5px;
}
.margin-10{
    margin: 10px;
}

.margin-20{
    margin: 20px;
}
.padding-10{
    padding: 10px;
}

.padding-20{
    padding: 20px;
}


.crates-container>.crate .crate-bottle,
.crates-container>.crate .crate-bottle-selected{

    width: 18px;
    height: 60px;
    display: inline-block;
    
    
}


/*bottle up*/
.crates-container>.crate .crate-bottle:nth-child(odd){
    background: center url('../images/crate-bottle-down.png');
    background-size: contain;
    background-repeat: no-repeat;
}
/*bottle down*/
.crates-container>.crate .crate-bottle:nth-child(even){

    background: center url('../images/crate-bottle-down.png');
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(180deg);
}

/*bottle up*/
.crates-container>.crate .crate-bottle:nth-child(odd):hover,
.crates-container>.crate .crate-bottle-selected:nth-child(odd){
    background: center url('../images/crate-bottle-down-active.png');
    background-size: contain;
    background-repeat: no-repeat;
}
/*bottle down*/
.crates-container>.crate .crate-bottle:nth-child(even):hover,
.crates-container>.crate .crate-bottle-selected:nth-child(even){

    background: center url('../images/crate-bottle-down-active.png');
    transform: rotate(180deg);
    background-size: contain;
    background-repeat: no-repeat;
    
}




.country-flag{
    display: inline-block;
    width: 20px;
    height: 15px;
    margin: 4px 0;
    /*background: red;*/
}

.add-crate-btn{
    cursor: pointer;
    text-transform: uppercase;
    color: #004454;
    font-weight: bold;
}

.total-btn{
    font-weight: bold;
    font-size: 13pt;
}


.ba-input-error{
    border: 1px solid red !important;
}
.catalog-container{

    padding: 40px;
    padding-top: 10px;
    min-height: 550px;
    background: #f5eeec;

}


.color-dot{

    width: 15px;
    min-width: 15px;
    min-height: 15px;
    max-width: 15px;
    max-height: 15px;
    height: 10px;
    border-radius: 7.5px;
    display: inline-block;
    background: red;
    margin: 2px;
}

h5{

    text-transform: uppercase;
    color: #3d3833;
    font-size: 12px;
    font-weight: lighter;
    margin: 2px 0;
}

h5.price {
    color: #004454;
    font-size: 18px;

}

#products-slick{
    height: 300px;
}

.product-box{

    max-height: 300px;
    display: inline-block !important;
    min-width: 280px;
}

.sidebar{
    min-height: 500px;
    
    width: 300px;
    min-width: 300px;
    max-width: 350px;
    background: url('../images/ba-cream-pattern.png');
    background-size: 60px 60px;
    display: inline-block;
    padding-bottom: 150px;

    position: relative;
}

.adv-search-sidebar{
    width: 400px;
    min-width: 400px;
    min-height: 500px;
    background: white;

}




.sidebar .products-list li a{

    margin: 20px 0;
    font-size: 20px;
    color: #575757;
}

.sidebar .vocheur-section{
    min-height: 150px;
    height: 150px;
    background: white;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

}

.underline{

    border-bottom: 1px solid #bab19d;

}

.quote{

    color: #3d3833;
    font-size: 16px;
    padding-bottom: 4px;
    margin: 10px 0;
}


#products-dropdown .grid-bottom{
    display: -ms-flexbox;
    display: flex;
}


.display4{
    color: #004454;
    font-size: 14px;
    font-weight: lighter;
}

.row.is-flex {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.row.is-flex > [class*='col-'] {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}


.display4{
    font-size: 12px;
}


.post{


    margin: 20px 0;

}

.post-meta{
    
    font-size: 14px;
    padding: 8px 8px;
    background: #f5edec;
    color: #2e2926;

}
.post-title{

    font-size: 20px;
    font-weight: normal;
    color: #2e2926;
    margin: 5px 0;
}

.post-tag{

    background: #c29e4f;
    color: white;
    border-radius: 2px;
    font-weight: lighter;
    padding: 2px 6px;
    font-size: 14px;
}
.post-comments{

    margin: 0 2px;
    color: #c29e4f;
}

.no-padding{
    padding: 0;
}

#subscription-form{
    background: #f5edec;
    padding: 20px;
    

}
#subscription-form header{

    color: #c29e4f;
    font-size: 14px;

}
#subscription-form  input{
    width: 100%;
}

.tag-list .post-tag{
    display: inline-block;
    margin: 4px;

}


.posts-section{
    background: white;
}


:focus{
    outline: none;
}

#map-info-container{
    position: absolute;
    left: 50px;
    top: 50px;
    width: 400px;
    height: 280px;
    background: white;
    display:none;
    overflow:hidden;
}

#map-info-container div p{
    color: #3d3833;
}

#map-info-container .shop-picture {

    width: 100%;
    heigth: auto;

}



#wedding-section{
    background: #cccccc;
    background: center url('../images/wedding/background-small.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 600px;
    justify-content: space-around;
    flex-wrap: wrap;
}

#wedding-section .circular-button:nth-child(1){

    background: url('../images/ba-blue-pattern.png');
    background-size: 60px auto;

}

#wedding-section .circular-button:nth-child(2){

    background: url('../images/ba-gold-pattern.png');
    background-size: 60px auto;

}
.circular-button,
.circular-button:hover
.circular-button:visited{
    width: 250px;
    height: 250px;
    min-width: 250px;
    min-height: 250px;
    border-radius: 125px;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 30px;
    text-decoration: none !important;
}


.circular-button img{
    width: 90px;
    height: auto;
}
.circular-button>.label{
    margin: 20px 10px;
    color: white;
    text-transform: uppercase;
    font-size: 18px;
    width: 100%;
    text-align:center;
    white-space: pre-wrap;
    line-height: 25px;
    font-weight: lighter;
}

.wedding-slide{
    height: calc(100% - 180px);
    background: white;
    max-height: 800px;
    height:100%;
}

#wedding-2A-images-container{
    min-height: 500px;
}
#wedding-2A-images-container div{
    width: 100%;
    background-size: contain;

}
#wedding-2A-images-container div:nth-child(1){

    background:  url('../images/wedding/slide_2A_background_top.jpg');

}

#wedding-2A-images-container div:nth-child(2){

    background:  url('../images/wedding/slide_2A_background_bottom.jpg');

}

#map-info-container div header{

    color: #bf9e56;
    font-weight: lighter;
}


.wine-styles-list,
.wine-types-list,
.filter--countries-list,
.filter--closures-list,
.filter--methods-list{

    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.wine-styles-list li{
    width: 80px;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4px;
    cursor:pointer;
    padding: 4px;

}
.wine-styles-list li:hover,
.wine-styles-list li.selected{

    background: #bab19d ;
    color: white;

}
.wine-styles-list .style-label{
    margin-top: 10px;
    text-align: center;
    text-transform: uppercase;
}
.wine-types-list li{
    width: 120px;
    margin: 4px;
    text-transform: uppercase;
    font-size: 12px;
    cursor: pointer;
    padding: 8px;
}
.wine-types-list li.selected, .wine-types-list li:hover{
    font-weight: bolder;
    color:white;
    background: #bab19d;
}
.filter-selection{
    color: #bab19d;
    margin-left: 4px;
    text-transform: uppercase;
}

.filter--countries-list li,
.filter--closures-list li,
.filter--methods-list li{
    font-size: 12px;
    text-transform: uppercase;
    min-width: 90px;
    padding: 8px;
}

.filter--countries-list li:hover,
.filter--countries-list li.active,
.filter--closures-list li:hover,
.filter--methods-list li:hover,
.filter--methods-list li.selected
{
    background: #bab19d;
    color: white;
}


.angucomplete-row{
    padding: 4px;
}
.angucomplete-row:hover{

    background: #bf9e56;
    padding: 4px;
    color: white;
}

#history-section .display3 .links {
    color: #bf9e56;
}


#notification-bar {

    height: 50px;
    background: red;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    display: none;
}

.grid-navigator-right{

    width:12px;
    height: 25px;
    object-fit: contain;
    cursor: pointer;
}
.grid-navigator-right>img{
    object-fit: contain;
    width: auto;
    height: 25px;
}
