.rzslider .rz-pointer {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    top: -7px;
    background-color: white;
    border: 1px solid #bf9e56;
}

.rzslider .rz-pointer:after {
    top: 6px;
    left: 6px;
    width: 4px;
    height: 4px;
    border-radius: 2px
}

.rzslider .rz-bar {
    background: #bab19d;
}

.rzslider .rz-bar.rz-selection {
    background: #bf9e56;
}

.rzslider .rz-pointer.rz-active {
    z-index: 9999;
}

.rzslider .rz-pointer.rz-active:after {
    background-color: transparent;
}

.rzslider .rz-bubble {
    font-size: 16px;
}