#cart-dropdown{
    padding: 0;
    display: block;
    z-index: -1;
    opacity: 0;
    font-weight: lighter;
    min-width: 270px;
    margin: 0;
    border: none;
    background: none;
}

#cart-dropdown .top{
    background: #bab19d;
    padding: 10px;

}
#cart-dropdown .cart-items-list{
    color: white;

}

#cart-dropdown .cart-items-list th,
#cart-dropdown .cart-items-list td{
    font-weight: lighter;
}

#cart-dropdown .cart-items-list td, #cart-dropdown .cart-items-list th{
    padding: 4px 6px;
}

#cart-dropdown .crates-section{
    margin: 10px 6px;
    border-top: 1px solid #dcd0c4;
    border-bottom: 1px solid #dcd0c4;

}
#cart-dropdown .crates-section .header{
    display: flex;
    justify-content: space-between;

}

#cart-dropdown .crates-carousel-container{
    display: flex;
    align-items: center;
    padding-bottom: 4px;
}
#cart-dropdown .crates-carousel-container img{
    width: 20px;
    height: 20px;
    cursor: pointer;
}
#cart-dropdown .crates-carousel{
    margin: 0px 10px;
    max-width: 300px;
    max-height: 80px;
    overflow-x: hidden;
    display: flex;

}
#cart-dropdown .crates-carousel .crate{
    border-radius: 5px;
    border: 1px solid #dcd0c4;
    min-width: 150px;
    background: transparent;
    margin: 0 15px;

}



#cart-dropdown .checkout-btn{
    display: inline-block;
    height: 40px;
    padding: 10px 0;
    border: none;
    outline: none;
    text-transform: uppercase;
    color: white;
    background: #004454;
    width: 100%;
    text-align: center;
    font-size: 18px;
    cursor: pointer;

}
#cart-dropdown .checkout-btn:hover,
#cart-dropdown .checkout-btn:active,
#cart-dropdown .checkout-btn:focus{

    background: #bf9e56;
}



.totals-section {
    margin: 15px 10px;

    display: flex;
    align-items: baseline;
}
.totals-section--label{
    margin-left: auto;
    margin-right: 5px;
}
.totals-section--total{
    font-size: 18px;
    font-weight: bold;
}

.voucher-section {
    padding: 15px 10px;
    background: #dcd0c4;
    color: #575757;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;


}
.voucher-section--headline {
    margin: 0 auto;
}
.voucher-section .voucher-field {
    width: 100%;
    color: black;
    margin-top: 4px;
    margin-bottom: 4px;
    text-align: center;
    text-transform: uppercase;
}

#cart-dropdown .voucher-section--discount-info{
    font-size: 10px;
    font-weight: lighter;
    padding: 4px;
    text-transform: uppercase;
}
