body{
    position:relative;
}

#checkout-sidebar{
    padding-top: 170px;
    position: fixed;
    width: 400px;
    right: 0;
    top: 0;
    bottom: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    background: white;
    padding-left: 20px;
    padding-right: 20px;
    display: none;
    box-shadow: -5px 5px 50px black;
    z-index: 10000;
}

#checkout-sidebar .cards-icon{
    height: 40px;
    width: auto;
}


#checkout-sidebar input[type="text"],
#checkout-sidebar input[type="number"]{
    border: 1px solid #bf9e56;
    width: 100%;

}
#checkout-sidebar label{

    color:   #bf9e56;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: lighter;
}
#checkout-sidebar .form-control-group{
    margin: 10px 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
}
#checkout-sidebar .expander{
    width: 20px;
    height: 20px;
    display: inline-block;
    
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

#checkout-sidebar .expander.expander-expanded{
        
    background: center url('../images/expander-expanded.png');
   
    background-repeat: no-repeat;
    background-size: contain;

}
#checkout-sidebar .expander.expander-collapsed{
    background: center url('../images/expander-collapsed.png');

    background-repeat: no-repeat;
    background-size: contain;
}



#checkout-sidebar .order-summary .title{
    
    color:   #bf9e56;
    font-size: 18px;
    font-weight: lighter;
    margin-right: auto;
}


.address-stage-panel,
.payment-stage-panel{
    display: flex !important;
    min-width: 360px;
}

.address-stage-panel header{
    display: flex;
    align-items: center;
}
.address-stage-panel header span{
    flex-grow: 1;
    margin: 0px 10px;
    font-size: 14px;
    color: #bf9e56;
    font-weight: bolder;
    border-bottom: 1px solid #bf9e56;
}


.basket-content ul li{
    margin: 4px 0;
    font-size: 18px;

}

#basket-total {

    font-size: 18px;
    margin-left: auto;

}
#basket-total span{
    color: #bf9e56;
}

.postcode-input{
    text-transform: uppercase;
}

#final-checkout-btn{

    height: 40px;
    padding: 10px;
    cursor: pointer;
}
#card_cvc {
    max-width: 60px;
}
#card_exp_year, #card_exp_month {
    max-width: 90px;
}
#card_holder_name{
    text-transform: uppercase;
}
label.error{
    font-size: 12px;
    color: red !important;
    font-weight: bold;
    padding: 2px 0;

}

div.slash {
    font-size: 2em;
    font-weight: 500;
    color: #bf9e56;
    margin-top: 0px;
    margin-bottom: 0px;
}

b.plus-checkout {
    margin-left: 5px;
    cursor: pointer;
}
b.minus-checkout {
    margin-right: 5px; 
    cursor: pointer;
}
.solid-line-checkout {
    border-bottom: 1px solid #bf9e56;
}

#checkout-sidebar .saved-address-btn{
    font-size: 12px;
    margin-left: auto;
    background: #bf9e56;
    color: white;
    border: none;
    outline: none;
    padding: 2px;
    margin-bottom: 5px;
}
#checkout-sidebar #delivery.ng-hide-add{

    animation:  0.5s slideUp ;

}

#checkout-sidebar #delivery.ng-hide-remove{

    animation:  0.5s slideDown ;

}

@keyframes slideUp {
    0% {
        opacity: 1;
        overflow-y: hidden;
        max-height: 500px;
    }

    100% {
        overflow-y: hidden;
        max-height: 0;
        /*transform: translate3d(100%, 0, 0) ;*/
        opacity: 0;
    }
}
@keyframes slideDown {
    100% {
        opacity: 1;
        overflow-y: hidden;
        max-height: 500px;
    }

    0% {
        overflow-y: hidden;
        max-height: 0;
        /*transform: translate3d(100%, 0, 0) ;*/
        opacity: 0;
    }
}

table.invoice-table td {
    text-align: center;
    padding: 15px;
}

table.invoice-table th {
    text-align: center;
    padding: 15px;
}

table.invoice-table {
    width: 100%;
}

tr.border-bottom-solid {
    border-bottom: 1px #bf9e56 solid;
}

tr.border-bottom-dotted {
    border-bottom: 1px #bf9e56 dotted;
}

td.number.number-strong {
    font-weight: bold;
    font-size: 1.5em;
}

.size-1-5em {
    font-size: 1.5em;
}