@font-face {
    font-family: "Brandon";
    src: url(../fonts/brandon/Brandon_light.otf) ;
    font-weight: 200;
}

@font-face {
    font-family: "Brandon";
    src: url(../fonts/brandon/Brandon_bld.otf) ;
    font-weight: bold;
}

@font-face {
    font-family: "Brandon";
    src: url(../fonts/brandon/Brandon_med.otf) ;
    font-weight: normal;
}

@font-face {
    font-family: "Brandon";
    src: url(../fonts/brandon/Brandon_blk.otf) ;
    font-weight: normal;
    font-style: oblique;
}
