

input{

    height: 30px;
    font-size: 16px;
    font-weight: lighter;
    padding: 0 4px;
    border: 0;
}

input:active, input:focus{
    outline: none;
}

input[type="submit"]{
    height: 30px;
    background: white;
    border: 1px solid transparent;
    border-radius: 0;
    box-sizing: border-box;
}

.search-controls{
    padding: 3px;
    border: 1px solid #bf9e56;
    background: white;
    max-width: 400px;
    width: 100%;
}
.search-controls input[type=text]{
    border-right: 1px solid #bf9e56;
    ;
}
.search-controls input[type=submit]{
    width: 40px;
    background: center url(../images/search-btn.png);
    background-size: 20px auto;
    background-repeat: no-repeat;
    cursor: pointer;
}
.ba-link{
    color: #bf9e56;

}


