.flex-container{
    display: -ms-flexbox !important;
    display: flex !important;
    flex-direction: row;
}

.flex-container .flex1{
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;

}

.align-middle{
    align-items: center;
}

.align-center{

    align-items: center;
}

.flex-container .flex2{
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 2;
    flex-grow: 2;
}
.vertical-flex-container{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}




.margin-10{
    margin: 10px;
}
.margin-20{
    margin: 20px;
}
.padding-10{
    padding: 10px;
}

.padding-20{
    padding: 20px;
}
