<div class="product-box">


      <div class="flex-container" style="align-items:center">
      {#{% set link = url('sonata_product_view', {'slug': product.slug,'productId': product.id }) %}#}
       {#href="{{ link }}" #}
        <a class="bottle-med" >

          {% if product.image %}
          <img src="{% path product.image, 'preview'%}" alt="" class="img-responsive
          bottle-med">
          {% else %}
          <img src="{{asset('images/bottle.png')}}" alt="" class="img-responsive">

           {% endif %}
        </a>
          <div class="flex1 margin-10 product-box--info">
            <div class="bottle-data">
                        <div class="bottle-data-left">
                        <div class="flex-container" style="align-items:center">
                            <div class="color-dot" style="background: {{ product.style.color }}"></div>
                            <h5>{{ product.style.name }}</h5>
                        </div>
                            <div class="flex-container" style="align-items:center">
                              <div class="bottle-year" style="margin-right:10px"> {{product.year}} </div>
                              <div class="country-flag flag-icon-background flag-icon-{{ product.origin | lower }}" > </div>
                            </div>

                            <div class="bottle-type">{{product.name | truncate(12,true,"...")}}</div>
                            <div class="bottle-type">bordeaux</div>
                            <div class="bottle-region">{{product.name |  truncate(12,true,"...")}}</div>

                        </div>
              </div>
              {{include('components/add-product-small-form.html.twig')}}
              </div>
          </div>
</div> <!-- product-box -->