<div class="adv-search-sidebar padding-20"  ng-show="advanced_search" ng-cloak>

    <div class="flex-container align-middle"  >
        <h4>ADVANCED SEARCH </h4>
        <div ng-click="resetFilters()">RESET</div>
    </div>

    <div style="margin-top: 10px">

        <div class="underline quote flex-container align-middle"  > STYLE:
            <div class="filter-selection" ng-if="selected_style == undefined">SELECT</div>
            <div class="filter-selection" ng-if="selected_style != undefined"> [[selected_style.name | limitTo:25]]</div>
            <img   src="{{ asset('images/select_icon_arrow_open.png') }}" alt=""
                 style="margin-left:auto;width: 20px; height: auto; cursor: pointer"
                ng-click = "show_styles = true" ng-show="show_styles==false"
            >
            <img  src="{{ asset('images/select_icon_arrow_closed.png') }}" alt=""#}
                  style="margin-left:auto;width: 20px; height: auto; cursor: pointer"
                  ng-click = "show_styles = false" ng-show="show_styles"
            >

        </div>
        <ul ng-if="show_styles" class="wine-styles-list">
            <li ng-repeat="style in styles" ng-class="{selected: (style==selected_style)}"
                ng-click="selectStyle(style)"
            >
                <div class="color-dot" style="background: [[style.color]]"></div>
                <div class="style-label">[[style.name]]</div>
            </li>


        </ul>


        <div class="underline quote flex-container align-middle"  >
        TYPE:
            <div class="filter-selection" ng-if="selected_type == undefined">SELECT</div>
            <div class="filter-selection" >[[selected_type]]</div>

            <img   src="{{ asset('images/select_icon_arrow_open.png') }}" alt=""
                   style="margin-left:auto;width: 20px; height: auto; cursor: pointer"
                   ng-click = "show_types = true" ng-show="show_types==false"
            >
            <img  src="{{ asset('images/select_icon_arrow_closed.png') }}" alt=""#}
                  style="margin-left:auto;width: 20px; height: auto; cursor: pointer"
                  ng-click = "show_types = false" ng-show="show_types"
            >



        </div>
        <div class="wine-types-list" ng-if="show_types">
            <li ng-repeat="type in types" ng-click="selectType(type)">[[type]]</li>
        </div>

        <div class="underline quote flex-container align-middle">
            COUNTRY:
        <div class="filter-selection" ng-if="selected_country == undefined">
            SELECT
        </div>
        <div  class="filter-selection">
            [[selected_country.name ]]
        </div>
        <img   src="{{ asset('images/select_icon_arrow_open.png') }}" alt=""
               style="margin-left:auto;width: 20px; height: auto; cursor: pointer"
               ng-click = "show_countries = true" ng-show="show_countries==false"
        >
        <img  src="{{ asset('images/select_icon_arrow_closed.png') }}" alt=""#}
              style="margin-left:auto;width: 20px; height: auto; cursor: pointer"
              ng-click = "show_countries = false" ng-show="show_countries"
        >
        </div>
        <ul class="filter--countries-list">
            <li ng-show="show_countries" ng-repeat="country in countries" ng-click="selectCountry(country)"
                ng-class="{ active: (selected_country == country)} "
            >
                [[ country.name ]]
            </li>

        </ul>

        <div class="underline quote flex-container align-middle">
            PRODUCTION METHOD:
            <div class="filter-selection" ng-if="selected_method == undefined">SELECT</div>
            <div class="filter-selection">[[selected_method]]</div>
            <img   src="{{ asset('images/select_icon_arrow_open.png') }}" alt=""
               style="margin-left:auto;width: 20px; height: auto; cursor: pointer"
                ng-click = "show_methods = true" ng-hide="show_methods"
            >
            <img  src="{{ asset('images/select_icon_arrow_closed.png') }}" alt=""#}
                style="margin-left:auto;width: 20px; height: auto; cursor: pointer"
                ng-click = "show_methods = false" ng-show="show_methods"
            >
        </div>
        <ul class="filter--methods-list" ng-show="show_methods">
            <li ng-repeat="method in methods"
            ng-click="selectMethod(method)"
            >[[method]]</li>
        </ul>

        <div class="underline quote flex-container align-middle">
            BOTTLE SIZE:
                <div class="filter-selection">SELECT</div>
                <img   src="{{ asset('images/select_icon_arrow_open.png') }}" alt=""
                       style="margin-left:auto;width: 20px; height: auto; cursor: pointer"
                       ng-click = "show_sizes = true" ng-hide="show_sizes"
                >
                <img  src="{{ asset('images/select_icon_arrow_closed.png') }}" alt=""#}
                      style="margin-left:auto;width: 20px; height: auto; cursor: pointer"
                      ng-click = "show_sizes = false" ng-show="show_sizes"
                >

        </div>
        <div class="underline quote flex-container align-middle">
            CLOUSURE:
            <div class="filter-selection" ng-if="selected_closure == undefined">SELECT</div>
            <div class="filter-selection">[[selected_closure]]</div>
            <img   src="{{ asset('images/select_icon_arrow_open.png') }}" alt=""
                   style="margin-left:auto;width: 20px; height: auto; cursor: pointer"
                   ng-click = "show_closure = true" ng-hide="show_closure"
            >
            <img  src="{{ asset('images/select_icon_arrow_closed.png') }}" alt=""#}
                  style="margin-left:auto;width: 20px; height: auto; cursor: pointer"
                  ng-click = "show_closure = false" ng-show="show_closure"
            >
        </div>

        <ul class="filter--closures-list" ng-if="show_closure">
            <li ng-repeat="closure in closures" ng-click="selectClosure(closure)">[[closure]]</li>
        </ul>


        <div class="underline quote">PRICE</div>
        <div style="margin: 0 10px">
        
        <rzslider rz-slider-model="slider.minValue"
                  rz-slider-high="slider.maxValue"
                  rz-slider-options="slider.options"></rzslider>
        
        </div>
        <div class="margin-20"></div>
        <button class="btn btn-outline-secondary" ng-click="filterWines()">SEARCH</button>
    </div>

</div>

<script type="application/javascript">
    $(document).ready(function(){


        var start_range =  0;
        var end_range = 500;


        $( "#price-range" ).slider({
                range: true,
                min: 0,
                max: 500,
                values: [ start_range, end_range ],
                slide: function( event, ui ) {
                    var start  = ui.values[ 0 ];
                    var end  = ui.values[ 1 ];
                    var $handlers = $("#price-range .ui-slider-handle");
                    console.log($handlers);
                    var $lefthandler = $($handlers.get(0));
                    var $righthandler = $($handlers.get(1));
                    console.log($lefthandler.css('left'));
                    $(".range-label .left-label").text("£" + start);
                    $(".range-label .right-label").text("£" + end);
                    $(".range-label .left-label").css('left',$lefthandler.css('left'));
                    $(".range-label .right-label").css('left',$righthandler.css('left'));
                },
                create: function( event, ui ) {


                    var $handlers = $("#price-range .ui-slider-handle");
                    console.log($handlers);
                    var $lefthandler = $($handlers.get(0));
                    var $righthandler = $($handlers.get(1));
                    console.log($lefthandler.css('left'));
                    $(".range-label .left-label").text("£" + start_range);
                    $(".range-label .right-label").text("£" + end_range);
                    $(".range-label .left-label").css('left',$lefthandler.css('left'));
                    $(".range-label .right-label").css('left',$righthandler.css('left'));

                }
        });

    });
</script>