

{% set section = "home" %}
{% extends 'base.html.twig' %}


{% block content %}

      <div class="fluid-container margin-20" style="min-height: 400px">
        
        <div class="col-md-6 col-md-offset-3 col-xs-12">
        <div class="alert alert-sucess center">{{{ 'resetting.check_email'|trans({'%email%': email}, 'FOSUserBundle')
        </div>
        </div>
    </div>


       


{% endblock %}
