
{% set section = "events" %}
{% extends 'base.html.twig' %}

{% block content %}
<div id="wedding-section" class="flex-container  align-middle">



        <a class="circular-button vertical-flex-container" href="{{ path('events_wedding_process_1') }}">
                <div class="margin-20"></div>
                <img src="{{ asset('images/wedding/billing-icon-white.png') }}" alt="" class="img-responsive img">
                <div class="label">I WANT TO SEND A LIST TO A FRIEND</div>


        </a>

        <a class="circular-button" href="{{ path('events_wedding_process_2') }}">
                <div class="margin-20"></div>
                <img src="{{ asset('images/wedding/delivery-icon-white.png') }}" alt="" class="img-responsive img">
                <div class="label">SUPPLY MY WEDDING WINES</div>
        </a>


</div>


{%  endblock %}


