




<div class="twitter-feed feed col-md-6">
            <div class="header">
                <img src="{{ asset('images/twitter-logo.png') }}" alt="">
                <div class="display">RECENT TWEETS</div>

            </div>
            <div class="tweet-list">

                {% for tweet in tweets %}
                    <div class="tweet">
                        <img src="{{ asset('images/twitter-avatar.png') }}" alt="" class="account-avatar">
                        <div class="content">
                            <div class="header">
                                <div class="title">Bottle Apostle <span style="color:#bf9e56">@{{tweet.username}}</span></div>
                                <div class="age">{{tweet.createdAt | time_diff}}</div>
                            </div>
                            <div class="message">
                               {{ tweet.text|knp_tweet_urlize }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
</div>



