
{# beer product box #}
<div class="product-box">


      <div class="flex-container" style="align-items:center">
      {#{% set link = url('sonata_product_view', {'slug': product.slug,'productId': product.id }) %}#}
       {#href="{{ link }}" #}
        <a class="bottle-med" >

          {% if product.image %}
          <img src="{% path product.image, 'product-box'%}" alt="" class="img-responsive
          bottle-med">
          {% else %}
          <img src="{{asset('images/bottle.png')}}" alt="" class="img-responsive">

           {% endif %}
        </a>
          <div class="flex1 margin-10 product-box--info">
            <div class="bottle-data" style="margin-bottom: auto">
                       
              </div>
              {{include('components/add-product-small-form.html.twig')}}
              </div>
          </div>
</div> <!-- product-box -->