<div class="flex-container align-middle" id="wines-product-grid">
    <div class="grid-bottom flex1"  style="display: flex; align-items: flex-start; overflow-x: scroll; overflow-y: hidden">

    {% for product in pager %}

       {{ include('ApplicationSonataProductBundle:Whisky:product-box.html.twig')}}
    
    {% endfor %}

    </div>
    {% if pager.paginationData.current != pager.paginationData.last  %}  }}
        <div class="grid-navigator-right" ng-click="next()">
            <img src="{{ asset('images/chevron_right_gold.png') }}" >
        </div>
    {% endif  %}
</div>


