{% set section = "orders" %}
{% extends 'base.html.twig' %}

{% block content %}


    {#{% block sonata_order_title %}#}
    {#<div class="row">#}
    {#<div class="col-sm-3 col-sm-offset-9" style="margin-bottom:15px;">#}
    {#<p>#}
    {#<a href="{{ url('sonata_invoice_view', {'reference' : order.reference}) }}" class="btn btn-primary pull-right"><i class="glyphicon glyphicon-file icon-white"></i>&nbsp;{% trans from 'SonataOrderBundle' %}sonata.order.view_invoice{% endtrans %}</a>#}
    {#</p>#}
    {#</div>#}
    {#</div>#}
    {#{% endblock %}#}
    <div class="row" style="width: 100%;">

        <div class="ba-order-container col-sm-12 col-md-10 col-md-offset-1  col-lg-8 col-lg-offset-2" style="margin-top: 15px;padding-left: 0px;padding-right: 0px;">

            <div class="ba-order-top">
                <div class="title container-fluid" style="margin-left: 0px;margin-right: 0px;padding-left: 0px;">YOUR RECEIPT/INVOICE {{ order.id }}</div>
                <div class="dots-horz"></div>
            </div>
        </div>

        <div class="ba-order-container col-sm-12 col-md-10 col-md-offset-1  col-lg-8 col-lg-offset-2" style="background-color: white;margin-top: 25px;margin-bottom: 50px;">

            <div class="row">
                <div class="col-md-8">

                    <div class="vertical-flex-container margin-20">
                        <div class="vertical-flex-container">
                            <div class="flex-container">
                                <div>
                                    <img src="{{ asset('images/checkout/delivery-address-icon.png') }}" alt=""
                                         style="width: 40px; height: auto">
                                </div>
                                <div class="margin-10"></div>
                                <div class="vertical-flex-container flex1">
                                    <div class="flex-container">
                                        <div class="flex1" style="font-weight: bold; font-size: 15px; color: #bf9e56;margin-right: auto">
                                            DELIVERY ADDRESS
                                        </div>
                                    </div>
                                    <div class="address-info" style="font-size:13px">
                                        <p style="color: black;">{{ order.shippingAddress1}}</p>
                                        <p style="color: black;">{{  order.shippingAddress2}} </p>
                                        <p> {{ order.shippingCity }}-  {{ order.shippingPostcode }}</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="margin-10"></div>
                        <div class="vertical-flex-container">
                            <div class="flex-container">
                                <div>
                                    <img src="{{ asset('images/checkout/billing-address-icon.png') }}" alt=""
                                         style="width: 40px; height: auto">
                                </div>
                                <div class="margin-10"></div>
                                <div class="vertical-flex-container flex1">
                                    <div class="flex-container">
                                        <div class="flex1" style="font-weight: bold; font-size: 15px; color: #bf9e56;margin-right: auto">
                                            BILLING ADDRESS
                                        </div>
                                    </div>
                                    <div class="address-info" style="font-size:13px">
                                        <p style="color: black;">{{ order.billingAddress1 }}</p>
                                        <p style="color: black;">{{ order.billingAddress2}}</p>
                                        <p style="color: black;">{{ order.billingCity }} - {{ order.billingPostcode }}</p>
                                    </div>


                                </div>

                            </div>
                        </div>

                    </div>

                </div>

                <div class="col-md-4">

                    <div class="vertical-flex-container margin-20">
                        <div class="vertical-flex-container">
                            <div class="flex-container">
                                <div class="margin-10"></div>
                                <div class="vertical-flex-container flex1">
                                    <div class="flex-container">
                                        <div class="flex1" style="font-weight: bold; font-size: 15px; color: #bf9e56;margin-right: auto">
                                            BOTTLE APOSTLE
                                        </div>
                                    </div>
                                    <div class="address-info" style="font-size:13px">
                                        {{ order.deliveryAsArray.address1 }}
                                        <p style="color: black;">95 Lauriston Road</p>
                                        <p style="color: black;">Hackney</p>
                                        <p style="color: black;">London</p>
                                        <p style="color: black;">E9 7HJ</p>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

            <div class="ba-order-main">
                <div class="row">
                    <div class="col-md-6 "  id="ba-order-addresses">


                    </div>
                    <div class="col-md-4 col-md-offset-2" id="ba-order-company-details">

                    </div>

                </div>
                <div class="row" id="ba-order-elements" style="padding-left: 15px; padding-right: 15px;">
                    <table class="invoice-table">
                        <tr class="border-bottom-solid">
                            <th></th>
                            <th></th>
                            <th class="size-1-5em">
                                Unit price
                                <div class="small">(excl. VAT)</div>
                            </th>
                            <th class="size-1-5em">VAT RATE</th>
                            <th class="size-1-5em">
                                Unit price
                                <div class="small">(incl. VAT)</div>

                            </th>
                            <th class="size-1-5em">
                                Total Price
                                <div class="small">(incl. VAT)</div>

                            </th>
                        </tr>
                        {% for element in order.orderElements %}
                            <tr class="{% if loop.last %}border-bottom-solid{% else %}border-bottom-dotted{% endif %}">
                                {% block sonata_order_element %}

                                    <td class="number number-strong">{{ element.quantity }}</td>
                                    <td class="size-1-5em "  style="text-align: left"><a style="color: black;" href="{{ url('sonata_product_view', {'productId': element.productId, 'slug': element.product.slug}) }}" >{{ element.designation }}</a></td>
                                    <td class="number number-strong">{{ element.unitPrice(false)|number_format_currency(order.currency.label, {}, {}, order.locale) }}</td>
                                    <td class="number number-strong">{{ element.product.vatRate }}</td>
                                    <td class="number number-strong">{{ element.unitPrice(true)|number_format_currency(order.currency.label, {}, {}, order.locale) }}</td>
                                    <td class="number number-strong">{{ element.total(true)|number_format_currency(order.currency.label, {}, {}, order.locale) }}</td>
                                {% endblock %}
                            </tr>
                        {% endfor %}

                        <tr>
                            <td class="number"></td>
                            <td></td>
                            <td class="number"></td>
                            <td></td>
                            <td class="number"></td>
                            <td class="number number-strong">{{ order.totalInc|number_format_currency(order.currency.label, {}, {}, order.locale) }}</td>
                        </tr>


                    </table>


                </div>
                <div class="ba-order-elements-summary">
                    <div id="order-total">

                    </div>
                    <a class="btn btn-outline-primary" href="#0" style="width: 10em; float: right;">PRINT</a>
                </div>

            </div>

        </div>

    </div>




{% endblock %}