{%  set section = "products" %}
{% extends 'base.html.twig' %}
{% block content %}
<div class="flex-container" ng-controller="WinesAdvancedSearchCtrl">

  {{ include('components/search/wines/advanced-search-sidebar.html.twig') }}

  <div class="catalog-container flex1">
    <div class="toolbar row">
      
      <div class="col-sm-2 col-xs-12">
        <div class="title">WINES</div>
      </div>
      
      <div class="flex-container col-md-8">
        <div class="row" style="display:flex;align-items:center; width:100%">
          <div class="col-md-9">
            <div class="main-search-section" >
              <div class="search-controls">
                <input id="main-search" type="text" class="ba-input">
                <button class="search-btn"><img src="{{ asset('images/search-btn.png') }}" alt=""></button>
              </div>
            </div>
          </div>

            <div class="display4" ng-click="advanced_search=true">ADVANCED SEARCH</div>


        </div>
                
        
      </div>
    
    <div class="tools col-sm-4">

      <div class="filter-group flex-container align-middle" style="width: 100%">
        <label for="location" class="flex1" style="text-align: end">SORT BY</label>
        <select name="sort-filter" id="sort-filter" class="flex1">
          {%  for option in sortOptions %}
          <option
                  {% if loop.index == sortby %}
                    selected="selected"
                  {% endif %}
                  value="{{ loop.index }}">{{ option }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
  </div>
  <div class="dots-horz"></div>
  <div  class="vertical-flex-container">
    <div id="products-slick" style="height:400px">

      {% for product in pager %}
      
       {{include('ApplicationSonataProductBundle:Wine:product-box.html.twig')}}
      {% else %}
      <h1> No products</h1>
    {% endfor %}
    </div>
    
  </div>
</div>
</div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
  <script type="application/javascript" src="{{ asset('bower_components/select2/dist/js/select2.min.js') }}"></script>
<script type="application/javascript">



$(document).ready(function(){
  $("#products-slick").slick({
    slidesToShow: 4,
    slidesToScroll: 2,
    rows: 2,
    infinite: false,
    responsive: [
      {
        breakpoint: 1090,
        settings: {
          slidesToShow: 3,
          slidesToScroll: 3
        }
      },
      {
        breakpoint: 860,
        settings: {
          slidesToScroll: 2,
          slidesToShow: 2
        }
      }
    ]
  });
});
var $sortFilter =  $('#sort-filter').select2( {minimumResultsForSearch: Infinity,
    width:'50%'});
  $sortFilter.on("select2:select", function (e) {

    var data = e.params.data;
    var id = data.id;
    var url = Routing.generate('categorycatalog',{'slug': '{{ category.slug}}','sortby': id});
      window.location.href = url;

  });

</script>

{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('bower_components/select2/dist/css/select2.min.css') }}">
  <link rel="stylesheet" href="{{ asset('css/select2.ba.theme.css') }}">
{% endblock %}