{% set section = "products" %}
{% extends 'base.html.twig' %}

{%  block content %}

    <div class="fluid-container">
        <div class="row" style="width: 100%;">
            <div class="col-lg-8 col-sm-12 col-lg-offset-2" style="margin-top: 20px;">

                <div class="title container-fluid" style="margin-left: 0px;margin-right: 0px;padding-left: 0px;">THANK YOU!</div>

                <div class="dots-horz"></div>
                <div class="container-fluid" style="padding-left: 0px;">
                    <p style="font-size: 1.1em; color: black; margin-top: 1em;">Your order has been placed</p>

                    <a style="width: 18em; margin-top: 4em;" href="{{ url('sonata_order_view', {'reference' : order.reference }) }}" class="btn btn-outline-primary">VIEW RECEIPT</a>

                </div>
            </div> 


        </div>


    </div>


{% endblock %}


{#Here put all the ga content for the purchase#}