{%  extends 'default/events/base.html.twig' %}

{% block content %}

{{ include('default/events/wedding/process1/slide1.html.twig') }}
{{ include('default/events/wedding/process1/slide2.html.twig') }}
{{ include('default/events/wedding/process1/slide3.html.twig') }}

{% endblock %}