<div class="flex-container wedding-slide align-middle" >

    <div class="flex1">

        <div class="flex-container align-middle">
            <div class="margin-20"></div>
            <div class="col-md-3 col-lg-3 card-container">
                <div class="card-icon">3</div>

            </div>
            <div class="margin-20 vertical">
                <p class="display3">You’re done! Send your wish list to your friends or suppliers with a click!</p>
                <button class="btn btn-medium btn-outline-primary" style="width: 120px; margin: 20px auto;">BROWSE NOW</button>
            </div>
        </div>

    </div>
    <div class="flex1 vertical-slider-container">
        <div class="margin-20"></div>
        <div class="margin-20"></div>
        <div class="margin-20"></div>
        <img src="{{ asset('images/wedding/slide_1C_background.jpg') }}" alt="" class="img img-responsive" style="aling-self:flex-end;margin-top:120px;">

    </div>

</div>
