<div class="flex-container wedding-slide align-middle" >

    <div class="flex1">

        <div class="flex-container align-middle">
            <div class="margin-20"></div>
            <div class="col-md-3 col-lg-3 card-container">
                <div class="card-icon">1</div>

            </div>
            <div class="margin-20">
                <p class="display3">Browse our wines and add your chosen favorites to your wish list</p>
            </div>
        </div>

    </div>
    <div class="flex1 vertical-slider-container">
        <div class="margin-20"></div>
        <div class="margin-20"></div>
        <div class="margin-20"></div>
        <img src="{{ asset('images/wedding/slide_1A_background.jpg') }}" alt="" class="img img-responsive" style="aling-self:flex-end;margin-top:120px;">

    </div>

</div>
